@use "../../../../styles/mixins.scss" as *;
.row {
  width: 100%;
  height: 10dvh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;

  @include respond-to-h(md){
    height: 12.5dvh;
  }
  @include respond-to-h(sm){
    height: 12.5dvh;
  }
  @include respond-to-h(xs){
    height: 20dvh;
  }
  @include respond-to-h(xxs){
    height: 20dvh;
  }

  @include respond-to-v(lg){
    height: 7.5dvh;
    gap: 1rem;
  }
  @include respond-to-v(md){
    height: 7.5dvh;
    gap: 1rem;
  }

  .cellThumb {
    display: flex;
    align-items: center;
    padding-left: 0 !important;
    padding-right: 0.5rem !important;
    width: 4rem; /* w-24 */
    height: 6rem; /* h-24 */
    @include respond-to-h(xxs){
      width: 3rem;
      height: 4rem;
    }
    @include respond-to-v(md){
      width: 3rem;
      height: 4rem;
    }
    @include respond-to-v(s){
      width: 4rem;
      height: 5rem;
      margin-right: 0.5rem;
    }
    @include respond-to-v(sm){
      width: 4rem;
      height: 5rem;
    }
    @include respond-to-v(xs){
      width: 4rem;
      height: 5rem;
    }

    .thumbLink {
      display: flex;

      &.thumbLinkPreview {
        width: 4rem; /* w-16 */
        @include respond-to-h(xxs){
          width: 3rem;
        }
         @include respond-to-v(md){
          width: 3rem;
        }
         @include respond-to-v(s){
          width: 5rem;
        }
          @include respond-to-v(sm){
          width: 5rem;
        }
          @include respond-to-v(xs){
          width: 4rem;
        }
      }
      &.thumbLinkFull {
        width: 4rem; /* w-12 */
        @include respond-to-h(xxs){
          width: 3rem;
        }
         @include respond-to-v(md){
          width: 3rem;
        }
         @include respond-to-v(s){
          width: 5rem;
        }
        @include respond-to-v(sm){
          width: 5rem;
        }
        @include respond-to-v(xs){
          width: 4rem;
        }
      }
    }
  }

  .cellTitle {
    text-align: left;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: fit-content; /* w-24 */
    height: 6rem; /* h-24 */
    width: 18rem;
    padding: 1rem 0;

    @include respond-to-h(xxs){
      width: 12rem;
      flex: 0 0 12rem;
    }
     @include respond-to-v(md){
      width: 14rem;
      flex: 0 0 14rem;
    }
      @include respond-to-v(s){
      width: 16rem;
      flex: 0 0 16rem;
    }
    @include respond-to-v(sm){
      width: 12rem;
      flex: 0 0 12rem;
    }
    @include respond-to-v(xs){
      width: 12rem;
      flex: 0 0 12rem;
    }

    .title {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: 400; /* medium-plus analog */
      color: var(--ChText);
      font-family: "Sansation-Regular";

      @include respond-to-h(lg){
        font-size: 1rem;
      }
      @include respond-to-h(md){
        font-size: 0.95rem;
      }
      @include respond-to-h(mdt){
        font-size: 0.95rem;
      }
      @include respond-to-h(sm){
        font-size: 0.95rem;
      }
      @include respond-to-h(xs){
        font-size: 0.85rem;
      }
      @include respond-to-h(xxs){
        font-size: 0.85rem;
      }

      @include respond-to-v(lg){
        font-size: 0.95rem;
      }
      @include respond-to-v(md){
        font-size: 0.95rem;
      }
      @include respond-to-v(s){
        font-size: 0.85rem;
      }
      @include respond-to-v(sm){
        font-size: 0.85rem;
      }
      @include respond-to-v(xs){
        font-size: 0.85rem;
      }
    }
  }

  .cellActions {
    /* container for actions cell */
    vertical-align: middle;
    width: fit-content; /* w-24 */
    height: 6rem; /* h-24 */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 12rem; /* w-28 */
    @include respond-to-h(xxs){
      width: 8rem;
    }
    @include respond-to-v(md){
      width: 8rem;
    }
     @include respond-to-v(s){
      width: 8rem;
    }
    @include respond-to-v(sm){
      width: 8rem;
    }
    @include respond-to-v(xs){
      width: 8rem;
    }

    .actionsRow {
      display: flex;
      gap: 1rem; /* gap-2 */
      column-gap: 0.5rem; /* gap-2 */
      align-items: center;
      justify-content: center;
      width: 12rem; /* w-28 */
      @include respond-to-h(xxs){
        width: 8rem;
      }
       @include respond-to-v(md){
        width: 8rem;
      }
        @include respond-to-v(s){
        width: 8rem;
      }
      @include respond-to-v(sm){
        width: 8rem;
      }
      @include respond-to-v(xs){
        width: 8rem;
      }
    }
  }

  .cellUnit {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
  }

  .cellPrice {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 0 !important;
    width: 3rem;

    .priceWrap {
      padding-right: 0 !important;
      width: 3rem;

      &.previewPriceWrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 100%;
        justify-content: center;

        .previewQtyRow {
          display: flex;
          column-gap: 0.25rem; /* gap-x-1 */
        }
      }
    }
  }

  .muted {
    color: var(--ButtonBorder);
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 300; /* medium-plus analog */
    font-family: "Sansation-Light";

    @include respond-to-h(lg){
      font-size: 0.875rem;
    }
    @include respond-to-h(md){
      font-size: 0.8rem;
    }
    @include respond-to-h(mdt){
      font-size: 0.8rem;
    }
    @include respond-to-h(sm){
      font-size: 0.8rem;
    }
    @include respond-to-h(xs){
      font-size: 0.7rem;
    }
    @include respond-to-h(xxs){
      font-size: 0.7rem;
    }

    @include respond-to-v(lg){
      font-size: 0.8rem;
    }
    @include respond-to-v(md){
      font-size: 0.8rem;
    }
    @include respond-to-v(s){
      font-size: 0.7rem;
    }
    @include respond-to-v(sm){
      font-size: 0.7rem;
    }
    @include respond-to-v(xs){
      font-size: 0.7rem;
    }
  }
}