@use "../../../../../styles/mixins.scss" as *;

.cta{
    width: 100vw;
    height: 80vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--OliveBg);
    gap: 5vh;
    padding: 2.5vh 0;

    @include respond-to-h(xs){
        height: 100vh;
    }
    @include respond-to-h(xxs){
        height: 100vh;
    }

    @include respond-to-v(lg){
        height: 75vh;
    }
    @include respond-to-v(md){
        height: 75vh;
    }
    @include respond-to-v(s){
        height: 75vh;
    }
    @include respond-to-v(sm){
        height: 75vh;
    }
    @include respond-to-v(xs){
        height: 75vh;
    }

    .cta__content{
        width: 100%;
        height: 40%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        gap: 2.5vh;

        .cta__title{
            font-family: "Sansation-Light";
            color: var(--Wtext);
            font-size: 5rem;
            text-align: center;

            @include respond-to-h(lg){
                font-size: 3.5rem;
            }
            @include respond-to-h(md){
                font-size: 3rem;
            }
            @include respond-to-h(mdt){
                font-size: 3.5rem;
            }
            @include respond-to-h(sm){
                font-size: 3rem;
            }
            @include respond-to-h(xs){
                font-size: 2.5rem;
            }
            @include respond-to-h(xxs){
                font-size: 2.5rem;
            }
            @include respond-to-v(lg){
                font-size: 4rem;
            }
            @include respond-to-v(md){
                font-size: 3rem;
            }
            @include respond-to-v(s){
                font-size: 2.5rem;
            }
            @include respond-to-v(sm){
                font-size: 2.5rem;
            }
            @include respond-to-v(xs){
                font-size: 2rem;
            }

        }

        .LinkButton{
            .button{
                width: 250px;
                height: 60px;
                .slider{
                    .el{
                        &:nth-of-type(1){
                            background-color: var(--WhiteBg) !important;
                            p{
                                color: var(--ChText);
                            }
                        }
                        &:nth-of-type(2){
                            p{
                                &:nth-of-type(2){
                                    transform: rotateX(-90deg) translateY(20px);
                                }
                            }
                        }
                        p{
                            font-family: "Sentient-Light";
                            font-size: 1.5rem;
                            text-transform: capitalize;
                            font-weight: 300;
                            @include respond-to-h(lg){
                                font-size: 1.3rem;
                            }
                            @include respond-to-h(md){
                                font-size: 1.1rem;
                            }
                            @include respond-to-h(mdt){
                                font-size: 1.3rem;
                            }
                            @include respond-to-h(sm){
                                font-size: 1.1rem;
                            }
                            @include respond-to-h(xs){
                                font-size: 1rem;
                            }
                            @include respond-to-h(xxs){
                                font-size: 1rem;
                            }
                            @include respond-to-v(lg){
                                font-size: 1.3rem;
                            }
                            @include respond-to-v(md){
                                font-size: 1.1rem;
                            }
                            @include respond-to-v(s){
                                font-size: 1.1rem;
                            }
                            @include respond-to-v(sm){
                                font-size: 1.1rem;
                            }
                            @include respond-to-v(xs){
                                font-size: 1rem;
                            }

                        }
                    }
                }

                @include respond-to-h(lg){
                    width: 200px;
                    height: 50px;
                }
                @include respond-to-h(md){
                    width: 180px;
                    height: 45px;
                }
                @include respond-to-h(mdt){
                    width: 200px;
                    height: 50px;
                }
                @include respond-to-h(sm){
                    width: 180px;
                    height: 45px;
                }
                @include respond-to-h(xs){
                    width: 180px;
                    height: 45px;
                }
                @include respond-to-h(xxs){
                    width: 180px;
                    height: 45px;
                }
                @include respond-to-v(lg){
                    width: 200px;
                    height: 50px;
                }
                @include respond-to-v(md){
                    width: 180px;
                    height: 45px;
                }
                @include respond-to-v(s){
                    width: 180px;
                    height: 45px;
                }
                @include respond-to-v(sm){
                    width: 180px;
                    height: 45px;
                }
                @include respond-to-v(xs){
                    width: 160px;
                    height: 40px;
                }
            }

        }
    }

    .cta__image__bar{
        width: 100%;
        height: 80%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .cta__rotating__bar{
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            .cta__rotating__bar__inner{

                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                gap: 1vw;

                .cta__image__bar{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    flex-direction: row;
                    gap: 1vw;

                    .cta__image__bar__item__wrapper {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 20vw;
                        // Default to horizontal
                        height: 20vh;
                        @include respond-to-h(md){
                            width: 17.5vw;
                        }
                        @include respond-to-h(mdt){
                            width: 22.5vw;
                        }
                        @include respond-to-h(sm){
                            width: 22.5vw;
                        }
                        @include respond-to-h(xs){
                            height: 25vh;
                            width: 15vw;
                        }
                        @include respond-to-h(xxs){
                            height: 25vh;
                            width: 17.5vw;
                        }

                    
                        // Even items (2nd, 4th, etc.) - vertical
                        &:nth-child(even) {
                            height: 40vh;

                            @include respond-to-v(lg){
                                width: 30vw;
                                height: 30vh;
                            }
                            @include respond-to-v(md){
                                width: 30vw;
                                height: 30vh;
                            }
                            @include respond-to-v(s){
                                width: 45vw;
                                height: 30vh;
                            }
                            @include respond-to-v(sm){
                                width: 50vw;
                                height: 30vh;
                            }
                            @include respond-to-v(xs){
                                width: 50vw;
                                height: 35vh;
                            }
                        }
                    
                        // Odd items (1st, 3rd, etc.) - horizontal (optional, for clarity)
                        &:nth-child(odd) {
                            height: 25vh;
                            width: 25vw;
                            @include respond-to-h(md){
                                width: 22.5vw;
                            }
                            @include respond-to-h(mdt){
                                width: 27.5vw;
                            }
                            @include respond-to-h(sm){
                                width: 27.5vw;
                            }
                            @include respond-to-h(xs){
                                height: 25vh;
                                width: 20vw;
                            }
                            @include respond-to-h(xxs){
                                height: 25vh;
                                width: 20vw;
                            }
                            @include respond-to-v(lg){
                                width: 40vw;
                                height: 20vh;
                            }
                            @include respond-to-v(md){
                                width: 40vw;
                                height: 20vh;
                            }
                             @include respond-to-v(s){
                                width: 70vw;
                                height: 20vh;
                            }
                             @include respond-to-v(sm){
                                width: 70vw;
                                height: 20vh;
                            }
                             @include respond-to-v(xs){
                                width: 70vw;
                                height: 25vh;
                            }


                        }
                    
                        // Optional: style the image inside
                        .cta__image__bar__img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}