@use "../../../../../styles/mixins.scss" as *;

.desc{
    width: 100vw;
    height: 350vh;
    gap: 20vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10vh 5vw;
    background-color: var(--OliveBg);

    @include respond-to-h(xs){
        height: 400vh;
    }
    @include respond-to-h(xxs){
        height: 400vh;
    }

    @include respond-to-v(lg){
        height: 250vh;
    }
    @include respond-to-v(md){
        height: 250vh;
    }

    @include respond-to-v(s){
        height: 400vh;
    }
    @include respond-to-v(sm){
        height: 400vh;
    }
    @include respond-to-v(xs){
        height: 450vh;
    }

    .Inspiration{
        width: 100%;
        height: 120vh;
        position: relative;

        @include respond-to-h(xs){
            height: 150vh;
        }
        @include respond-to-h(xxs){
            height: 150vh;
        }

        @include respond-to-v(lg){
            height: 100vh;
        }
          @include respond-to-v(md){
            height: 100vh;
        }
        @include respond-to-v(s){
            height: 160vh;
        }
        @include respond-to-v(sm){
            height: 160vh;
        }
        @include respond-to-v(xs){
            height: 180vh;
        }

        .Inspiration__Images{
            width: 100vw;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
            overflow: hidden;
            
            .Inspiration__Image{
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;

                .Inspiration__gradient{
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    position: absolute;
                    top: 5vh;
                    left: 25vw;
                    svg{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transform: scale(2);
                        opacity: 0.5;
                    }
                }
            }
        }

        h3{
            position: absolute;
            font-size: 2.5rem;
            font-family: "Sansation-Light";
            color: var(--Wtext);
            width: 40%;
            height: 10%;
            z-index: 1;

            @include respond-to-h(lg){
                font-size: 2rem;
            }
            @include respond-to-h(md){
                font-size: 1.8rem;
            }
            @include respond-to-h(mdt){
                font-size: 1.8rem;
            }
            @include respond-to-h(sm){
                font-size: 1.8rem;
            }
            @include respond-to-h(xs){
                font-size: 1.5rem;
            }
            @include respond-to-h(xxs){
                font-size: 1.3rem;
            }

            @include respond-to-v(lg){
                font-size: 1.8rem;
            }
            @include respond-to-v(md){
                font-size: 1.5rem;
            }
            @include respond-to-v(s){
                font-size: 1.8rem;
                width: 100%;
            }
              @include respond-to-v(sm){
                font-size: 1.5rem;
                width: 100%;
            }
              @include respond-to-v(xs){
                font-size: 1.3rem;
                width: 100%;
            }
        }

        .Inspiration__content{
            position: absolute;
            width: 100%;
            height: 80%;
            z-index: 2;
            
            .Inspiration__content__item{
                width: 25vw;
                height: 50vh;
                position: absolute;
                top: 40%;
                left: 85%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2vw;
                @include respond-to-h(md){
                    width: 22.5vw;
                    height: 50vh;
                }
                @include respond-to-h(mdt){
                    width: 25vw;
                    height: 45vh;
                }

                @include respond-to-h(sm){
                    width: 25vw;
                    height: 45vh;
                }
                @include respond-to-h(xs){
                    width: 25vw;
                    height: 65vh;
                }
                @include respond-to-h(xxs){
                    width: 25vw;
                    height: 65vh;
                }

                @include respond-to-v(lg){
                    width: 30vw;
                    height: 30vh;
                    top: 45%;
                }

                @include respond-to-v(md){
                    width: 30vw;
                    height: 30vh;
                    top: 45%;
                }

                @include respond-to-v(s){
                    width: 70vw;
                    height: 50vh;
                    top: 45%;
                    left: 65%;
                }
                @include respond-to-v(sm){
                    width: 70vw;
                    height: 50vh;
                    top: 45%;
                    left: 65%;
                }
                @include respond-to-v(xs){
                    width: 60vw;
                    height: 50vh;
                    top: 45%;
                    left: 65%;
                }

                .Inspiration__content__item__wrapper{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    .Inspiration__content__item__img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &:nth-child(2){
                    z-index: 0;
                    width: 25vw;
                    height: 50vh;
                    top: 80%;
                    left: 60%;
                    transform: translate(-50%, -50%);

                    @include respond-to-h(md){
                        width: 22.5vw;
                        height: 50vh;
                        left: 62.5%;
                    }
                    @include respond-to-h(mdt){
                        width: 25vw;
                        height: 45vh;
                        left: 60%;
                    }
                    @include respond-to-h(sm){
                        width: 25vw;
                        height: 45vh;
                        left: 60%;
                    }
                    @include respond-to-h(xs){
                        width: 25vw;
                        height: 65vh;
                        top: 85%;
                        left: 60%;
                    }
                    @include respond-to-h(xxs){
                        width: 25vw;
                        height: 65vh;
                        top: 85%;
                        left: 60%;
                    }

                    @include respond-to-v(lg){
                        width: 30vw;
                        height: 30vh;
                        left: 55%;
                    }
                    @include respond-to-v(md){
                        width: 30vw;
                        height: 30vh;
                        left: 55%;
                    }
                    @include respond-to-v(s){
                        width: 60vw;
                        height: 40vh;
                        left: 30%;
                    }
                    @include respond-to-v(sm){
                        width: 60vw;
                        height: 40vh;
                        left: 30%;
                    }
                    @include respond-to-v(xs){
                        width: 60vw;
                        height: 50vh;
                        left: 30%;
                        top: 75%;
                    }
                }
                &:nth-child(3){
                    z-index: 1;
                    width: 25vw;
                    height: 25vh;
                    top: 85%;
                    left: 90%;
                    transform: translate(-50%, -50%);

                    @include respond-to-h(md){
                        width: 22.5vw;
                        height: 25vh;
                    }
                    @include respond-to-h(md){
                        width: 22.5vw;
                        height: 25vh;
                    }
                    @include respond-to-h(mdt){
                        width: 25vw;
                        height: 20vh;
                    }
                    @include respond-to-h(sm){
                        width: 25vw;
                        height: 20vh;
                    }
                    @include respond-to-h(xs){
                        width: 25vw;
                        height: 35vh;
                    }
                    @include respond-to-h(xxs){
                        width: 25vw;
                        height: 35vh;
                    }


                    @include respond-to-v(lg){
                        width: 30vw;
                        height: 15vh;
                        top: 90%;
                        left: 85%;
                    }
                     @include respond-to-v(md){
                        width: 30vw;
                        height: 15vh;
                        top: 90%;
                        left: 85%;
                    }
                    @include respond-to-v(s){
                        width: 55vw;
                        height: 17.5vh;
                        top: 90%;
                        left: 75%;
                    }
                    @include respond-to-v(sm){
                        width: 55vw;
                        height: 17.5vh;
                        top: 90%;
                        left: 75%;
                    }
                    @include respond-to-v(xs){
                        width: 55vw;
                        height: 20vh;
                        top: 90%;
                        left: 75%;
                    }
                
                }
            }
        }

        .Inspiration__text{
            position: relative;
            width: 70%;
            height: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            z-index: 1;
            @include respond-to-v(s){
                width: 100%;
                height: 100%;
            }
              @include respond-to-v(sm){
                width: 100%;
                height: 100%;
            }
              @include respond-to-v(xs){
                width: 100%;
                height: 100%;
            }
            .Inspiration__text__container{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                padding-top: 20vh;
                padding-right: 2.5vw;

                @include respond-to-v(s){
                    justify-content: flex-start;
                    padding-top: 10vh;

                    &:nth-of-type(2){
                        justify-content: flex-end;
                        padding-top: 0;

                        .Inspiration__text__sub__container{
                            width: 100%;
                            height: 100%;
                            justify-content: flex-end;
                            padding-top: 0;
                        }
                    }
                    
                }
                @include respond-to-v(sm){
                    justify-content: flex-start;
                    padding-top: 10vh;

                    &:nth-of-type(2){
                        justify-content: flex-end;
                        padding-top: 0;

                        .Inspiration__text__sub__container{
                            width: 100%;
                            height: 100%;
                            justify-content: flex-end;
                            padding-top: 0;
                        }
                    }
                    
                }
                @include respond-to-v(xs){
                    justify-content: flex-start;
                    padding-top: 10vh;

                    &:nth-of-type(2){
                        justify-content: flex-end;
                        padding-top: 0;

                        .Inspiration__text__sub__container{
                            width: 100%;
                            height: 100%;
                            justify-content: flex-end;
                            padding-top: 0;
                        }
                    }
                    
                }

                .Inspiration__text__sub__container{
                    width: 50%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    justify-content: center;
                    gap: 1vh;

                    @include respond-to-v(s){
                        width: 100%;
                        height: 100%;
                        justify-content: flex-start;
                        padding-top: 5vh;
                    }
                    @include respond-to-v(sm){
                        width: 100%;
                        height: 100%;
                        justify-content: flex-start;
                        padding-top: 5vh;
                    }
                    @include respond-to-v(xs){
                        width: 100%;
                        height: 100%;
                        justify-content: flex-start;
                        padding-top: 5vh;
                    }

                    h4{
                        font-size: 2.5rem;
                        font-family: "Sansation-Light";
                        color: var(--Wtext);
                        width: 100%;
                        text-align: right;

                        @include respond-to-h(lg){
                            font-size: 2rem;
                        }

                        @include respond-to-h(md){
                            font-size: 1.8rem;
                        }
                        @include respond-to-h(mdt){
                            font-size: 2rem;
                        }
                        @include respond-to-h(sm){
                            font-size: 1.8rem;
                        }
                        @include respond-to-h(xs){
                            font-size: 1.5rem;
                        }
                        @include respond-to-h(xxs){
                            font-size: 1.3rem;
                        }

                        @include respond-to-v(lg){
                            font-size: 1.8rem;
                        }

                        @include respond-to-v(md){
                            font-size: 1.5rem;
                        }
                        @include respond-to-v(s){
                            font-size: 1.8rem;
                        }
                        @include respond-to-v(sm){
                            font-size: 1.5rem;
                        }
                        @include respond-to-v(xs){
                            font-size: 1.3rem;
                        }
                    }

                    p{
                        font-size: 1.5rem;
                        width: 85%;
                        font-family: "Sentient-Light";
                        color: var(--Wtext);
                        text-align: right;

                        @include respond-to-h(lg){
                            font-size: 1.3rem;
                            width: 90%;
                        }

                        @include respond-to-h(md){
                            font-size: 1.1rem;
                            width: 100%;
                        }
                        @include respond-to-h(mdt){
                            font-size: 1.3rem;
                            width: 90%;
                        }
                        @include respond-to-h(sm){
                            font-size: 1.1rem;
                            width: 100%;
                        }
                        @include respond-to-h(xs){
                            font-size: 1rem;
                            width: 100%;
                        }
                        @include respond-to-h(xxs){
                            font-size: 0.9rem;
                            width: 100%;
                        }

                        @include respond-to-v(lg){
                            font-size: 1.3rem;
                            width: 140%;
                        }

                        @include respond-to-v(md){
                            font-size: 1.1rem;
                            width: 140%;
                        }

                        @include respond-to-v(s){
                            font-size: 1.1rem;

                        }
                        @include respond-to-v(sm){
                            font-size: 1.1rem;

                        }
                        @include respond-to-v(xs){
                            font-size: 1rem;

                        }
                    }
                }

                &:nth-of-type(2){
                    align-items: flex-start;
                    h4{
                        text-align: left;
                    }
                    p{
                        width: 100%;
                        text-align: left;
                    }
                }

            }
        }
    }

    .Shaping{
        width: 100%;
        height: 50vh;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2.5vw;
        @include respond-to-v(lg){
            height: 30vh;
        }
        @include respond-to-v(md){
            height: 30vh;
        }
        @include respond-to-v(sm){
            height: 30vh;
        }
        @include respond-to-v(s){
            height: 60vh;
            flex-direction: column;
        }
        @include respond-to-v(sm){
            height: 60vh;
            flex-direction: column;
        }
        @include respond-to-v(xs){
            height: 60vh;
            flex-direction: column;
        }


        @include respond-to-h(xs){
            height: 80vh;
        }
        @include respond-to-h(xxs){
            height: 80vh;
        }
        

        .Shaping__image{
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            @include respond-to-v(lg){
                align-items: flex-start;
            }
            @include respond-to-v(md){
                align-items: flex-start;
            }
            @include respond-to-v(s){
                width: 100%;
            }
            @include respond-to-v(sm){
                width: 100%;
            }
            @include respond-to-v(xs){
                width: 100%;
            }

            .Shaping__images__details{
                width: 300%;
                height: 300%;
                position: absolute;
                top: -100%;
                left: -100%;
                z-index: 0;

                .Shaping__gradient{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    svg{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        transform: scale(2);
                        opacity: 0.5;
                    }
                }
            }

            .Shaping__image__container{
                width: 50vw;
                height: 45vh;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 1;
                overflow: hidden;

                .Shaping__image__wrapper{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    scale: 1.1;

                    .Shaping__image__img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                @include respond-to-h(md){
                    width: 45vw;
                    height: 45vh;
                }
                @include respond-to-h(mdt){
                    width: 55vw;
                    height: 40vh;
                }
                @include respond-to-h(sm){
                    width: 55vw;
                    height: 40vh;
                }
                @include respond-to-h(xs){
                    width: 55vw;
                    height: 50vh;
                }
                @include respond-to-h(xxs){
                    width: 55vw;
                    height: 50vh;
                }

                @include respond-to-v(lg){
                    width: 50vw;
                    height: 20vh;
                    align-items: flex-start;
                }
                @include respond-to-v(md){
                    width: 50vw;
                    height: 20vh;
                    align-items: flex-start;
                }
                @include respond-to-v(s){
                    width: 90vw;
                    height: 25vh;
                    align-items: flex-start;
                }
                @include respond-to-v(sm){
                    width: 90vw;
                    height: 25vh;
                    align-items: flex-start;
                }
                @include respond-to-v(xs){
                    width: 90vw;
                    height: 30vh;
                    align-items: flex-start;
                }
            }
            .Shaping__image__text{
                width: 15vw;
                height: 15vw;
                position: absolute;
                top: -5.5vw;
                left: calc(100% - 6.5vw);
                z-index: 1;
                @include respond-to-h(md){
                    top: -6vw;
                    left: calc(100% - 8vw);
                }

                @include respond-to-h(mdt){
                    top: -4vw;
                    left: calc(100% - 8vw);
                }
                @include respond-to-h(sm){
                    top: -5vw;
                    left: calc(100% - 10vw);
                    scale: 0.9;
                }
                @include respond-to-h(xs){
                    top: -5vw;
                    left: calc(100% - 10vw);
                    scale: 0.8;
                }
                @include respond-to-h(xxs){
                    top: -5vw;
                    left: calc(100% - 10vw);
                    scale: 0.8;
                }

                @include respond-to-v(lg){
                    top: -25%;
                    left: calc(100% - 10vw);
                }
                @include respond-to-v(md){
                    top: -25%;
                    left: calc(100% - 10vw);
                }
                @include respond-to-v(s){
                    top: 80%;
                    left: 35%;
                    transform: translate(-50%, -100%);
                    scale: 0.8;
                }
                @include respond-to-v(sm){
                    top: 80%;
                    left: 35%;
                    transform: translate(-50%, -100%);
                    scale: 0.7;
                }
                @include respond-to-v(xs){
                    top: 90%;
                    left: 40%;
                    transform: translate(-50%, -100%);
                    scale: 0.6;
                }

            }
        }

        .Shaping__text{
            width: 50%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            @include respond-to-v(s){
                width: 100%;
            }
            @include respond-to-v(sm){
                width: 100%;
            }
            @include respond-to-v(xs){
                width: 100%;
            }

            .Shaping__text__container{
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-start;
                gap: 2vh;

                h4{
                    font-size: 2.5rem;
                    font-family: "Sansation-Light";
                    color: var(--Wtext);
                    width: 100%;
                    text-align: right;

                    @include respond-to-h(lg){
                        font-size: 2rem;
                        margin-top: 5vh;
                    }
                    @include respond-to-h(md){
                        font-size: 1.8rem;
                        margin-top: 5vh;
                    }
                    @include respond-to-h(mdt){
                        font-size: 2rem;
                        margin-top: 7.5vh;
                    }
                    @include respond-to-h(sm){
                        font-size: 1.8rem;
                        margin-top: 5vh;
                    }
                    @include respond-to-h(xs){
                        font-size: 1.5rem;
                        margin-top: 5vh;
                    }
                    @include respond-to-h(xxs){
                        font-size: 1.5rem;
                        margin-top: 5vh;
                    }

                    @include respond-to-v(lg){
                        font-size: 1.8rem;
                    }
                    @include respond-to-v(md){
                        font-size: 1.8rem;
                    }
                    @include respond-to-v(s){
                        font-size: 1.8rem;
                    }
                    @include respond-to-v(sm){
                        font-size: 1.5rem;
                    }
                    @include respond-to-v(xs){
                        font-size: 1.5rem;
                    }       
                }

                p{
                    font-size: 1.5rem;
                    width: 80%;
                    font-family: "Sentient-Light";
                    color: var(--Wtext);
                    text-align: right;

                    @include respond-to-h(lg){
                        font-size: 1.3rem;
                    }
                    @include respond-to-h(md){
                        font-size: 1.1rem;
                    }
                    @include respond-to-h(mdt){
                        font-size: 1.3rem;
                    }
                    @include respond-to-h(sm){
                        font-size: 1.1rem;
                    }
                    @include respond-to-h(xs){
                        font-size: 1rem;
                    }
                    @include respond-to-h(xxs){
                        font-size: 1rem;
                    }


                    @include respond-to-v(lg){
                        font-size: 1.3rem;
                    }
                    @include respond-to-v(md){
                        font-size: 1.1rem;
                    }
                    @include respond-to-v(s){
                        font-size: 1.1rem;
                    }
                    @include respond-to-v(sm){
                        font-size: 1.1rem;
                    }
                    @include respond-to-v(xs){
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    .Benefits{
        width: 100%;
        height: 100vh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2.5vw;

        @include respond-to-h(xs){
            height: 140vh;
        }
        @include respond-to-h(xxs){
            height: 140vh;
        }

        @include respond-to-v(s){
            height: 140vh;
        }
        @include respond-to-v(sm){
            height: 140vh;
        }
        @include respond-to-v(xs){
            height: 160vh;
        }

        .Benefits__gradients{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 5vh;
            left: 25vh;
            z-index: 0;
            .Benefits__gradient{
                width: 100%;
                height: 100%;
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;

                svg{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(2);
                    opacity: 0.6;

                    g{
                        width: 50vw;
                        height: 50vh;
                    }
                }
            }
        }

        .Benefits__content{
            width: 60%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            z-index: 1;

            @include respond-to-v(s){
                width: 100%;
                justify-content: flex-start;
            }
             @include respond-to-v(sm){
                width: 100%;
                justify-content: flex-start;
            }
             @include respond-to-v(xs){
                width: 100%;
                justify-content: flex-start;
            }


            .Benefits__content__text{
                width: 100%;
                height: 50%;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                gap: 1.5vh;

                @include respond-to-v(s){
                    justify-content: flex-start;
                    &:nth-of-type(2){
                        justify-content: flex-end;
                    }
                }
                 @include respond-to-v(sm){
                    justify-content: flex-start;
                    &:nth-of-type(2){
                        justify-content: flex-end;
                    }
                }
                 @include respond-to-v(xs){
                    justify-content: flex-start;
                    &:nth-of-type(2){
                        justify-content: flex-end;
                    }
                }

                h4{
                    font-size: 2.5rem;
                    font-family: "Sansation-Light";
                    color: var(--Wtext);
                    width: 100%;
                    text-align: left;

                    @include respond-to-h(lg){
                        font-size: 2rem;
                    }
                    @include respond-to-h(md){
                        font-size: 1.8rem;
                    }
                    @include respond-to-h(mdt){
                        font-size: 2rem;
                    }
                    @include respond-to-h(sm){
                        font-size: 1.8rem;
                    }
                    @include respond-to-h(xs){
                        font-size: 1.5rem;
                    }
                    @include respond-to-h(xxs){
                        font-size: 1.5rem;
                    }

                    @include respond-to-v(lg){
                        font-size: 1.8rem;
                    }
                    @include respond-to-v(md){
                        font-size: 1.5rem;
                    }
                    @include respond-to-v(s){
                        font-size: 1.8rem;
                    }
                     @include respond-to-v(sm){
                        font-size: 1.5rem;
                    }
                     @include respond-to-v(xs){
                        font-size: 1.3rem;
                    }
                }

                p{
                    font-size: 1.5rem;
                    width: 65%;
                    font-family: "Sentient-Light";
                    color: var(--Wtext);
                    text-align: left;

                    @include respond-to-h(lg){
                        font-size: 1.3rem;
                    }
                    @include respond-to-h(md){
                        font-size: 1.1rem;
                        width: 60%;
                    }
                    @include respond-to-h(mdt){
                        font-size: 1.3rem;
                    }
                    @include respond-to-h(sm){
                        font-size: 1.1rem;
                        width: 60%;
                    }
                    @include respond-to-h(xs){
                        font-size: 1rem;
                        width: 60%;
                    }
                    @include respond-to-h(xxs){
                        font-size: 1rem;
                        width: 60%;
                    }

                    @include respond-to-v(lg){
                        font-size: 1.3rem;
                    }
                    @include respond-to-v(md){
                        font-size: 1.1rem;
                    }
                    @include respond-to-v(s){
                        font-size: 1.1rem;
                        width: 100%;
                    }
                    @include respond-to-v(sm){
                        font-size: 1.1rem;
                        width: 100%;
                    }
                    @include respond-to-v(xs){
                        font-size: 1rem;
                        width: 100%;
                    }
                }

                &:nth-of-type(2){
                    align-items: flex-end;
                    h4{
                        text-align: right;
                        width: 75%;
                    }
                }
            }
        }

        .Benefits__image{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 1;

            .Benefits__image__container{
                width: 25vw;
                height: 50vh;
                position: absolute;
                top: 10%;
                left: 45%;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                @include respond-to-h(sm){
                    width: 25vw;
                    height: 45vh;
                }
                @include respond-to-h(xs){
                    width: 25vw;
                    height: 65vh;
                    top: 0;
                }
                @include respond-to-h(xxs){
                    width: 25vw;
                    height: 60vh;
                    top: 0;
                }

                @include respond-to-v(lg){
                    width: 40vw;
                    height: 40vh;
                    top: 10%;
                }
                @include respond-to-v(md){
                    width: 40vw;
                    height: 40vh;
                    top: 10%;
                }
                @include respond-to-v(s){
                    width: 70vw;
                    height: 45vh;
                    top: 20%;
                    left: 0%;
                }
                @include respond-to-v(sm){
                    width: 70vw;
                    height: 45vh;
                    top: 20%;
                    left: 0%;
                }
                @include respond-to-v(xs){
                    width: 60vw;
                    height: 45vh;
                    top: 20%;
                    left: 0%;
                }

                .Benefits__image__Wrapper{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    scale: 1.1;


                    .Benefits__image__img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                &:nth-of-type(2){
                    width: 40vw;
                    height: 40vh;
                    position: absolute;
                    top: 45%;
                    left: 65%;

                    @include respond-to-h(xs){
                        width: 40vw;
                        height: 55vh;
                    }
                    @include respond-to-h(xxs){
                        width: 40vw;
                        height: 55vh;
                    }


                    @include respond-to-v(lg){
                        width: 40vw;
                        height: 40vh;
                    }
                    @include respond-to-v(md){
                        width: 40vw;
                        height: 40vh;
                    }
                    @include respond-to-v(s){
                        width: 70vw;
                        height: 45vh;
                        top: 50%;
                        left: 25%;
                    }
                      @include respond-to-v(sm){
                        width: 70vw;
                        height: 45vh;
                        top: 50%;
                        left: 25%;
                    }
                      @include respond-to-v(xs){
                        width: 60vw;
                        height: 45vh;
                        top: 50%;
                        left: 25%;
                    }
                }
            }
        }
    }
}