@use "../../../../styles/mixins.scss" as *;

.details{
    width: 100dvw;
    min-height: 40dvh;
    padding: 10dvh 0dvw 15dvh 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--OliveBg);
    gap: 1.5dvh;
    overflow: hidden;

    @include respond-to-h(xs){
        min-height: 60dvh;
    }
    @include respond-to-h(xxs){
        min-height: 60dvh;
    }
    @include respond-to-v(lg){
        min-height: 30dvh;
    }
    @include respond-to-v(md){
        min-height: 30dvh;
    }

    @include respond-to-v(s){
        min-height: 80dvh;
    }
    @include respond-to-v(sm){
        min-height: 80dvh;
    }
    @include respond-to-v(xs){
        min-height: 100dvh;
    }

    .details__title{
        width: 100%;
        height: 7.5dvh;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 2.5dvw;

        @include respond-to-h(mdt){
            height: 5dvh;
        }

        @include respond-to-h(xs){
            height: 15dvh;
        }
        @include respond-to-h(xxs){
            height: 15dvh;
        }

        h2{
            font-family: "OoohBaby-Regular";
            position: relative;
            z-index: 1;
            font-size: 5rem;
            color: var(--Wtext);
            font-weight: 300;
            margin: 0;

            @include respond-to-h(md){
                font-size: 4rem;
            }
             @include respond-to-h(mdt){
                font-size: 4rem;
            }
            @include respond-to-h(sm){
                font-size: 3.5rem;
            }
            @include respond-to-h(xs){
                font-size: 3rem;
            }
            @include respond-to-h(xxs){
                font-size: 3rem;
            }
            @include respond-to-v(md){
                font-size: 4rem;
            }
            @include respond-to-v(s){
                font-size: 4rem;
            }
             @include respond-to-v(sm){
                font-size: 4rem;
            }
             @include respond-to-v(xs){
                font-size: 3rem;
            }
        }
    }

    .details__content{
        width: 100%;
        min-height: 20dvh;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        @include respond-to-h(sm){
            min-height: 40dvh;
        }

        .details__content__list{
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            flex-direction: column;

            .details__content__list__item{
                width: 60%;
                height: fit-content;
                position: relative;
                display: flex;
                align-items: space-between;
                justify-content: center;
                flex-direction: column;
                border-top: 1px solid var(--WhiteBg);
                padding: 0 2.5dvw;
                @include respond-to-v(s){
                    width: 90%;
                }
                @include respond-to-v(sm){
                    width: 90%;
                }
                @include respond-to-v(xs){
                    width: 90%;
                }

                .details__content__list__item__main{
                    width: 100%;
                    height: fit-content;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    flex-direction: row;
                    padding: 1dvh 0;

                    h3{
                        font-family: "Sansation-Light";
                        position: relative;
                        z-index: 1;
                        font-size: 1.5rem;
                        color: var(--Wtext);
                        font-weight: 300;
                        margin: 0;
                        @include respond-to-h(sm){
                            font-size: 1.3rem;
                        }
                        @include respond-to-h(xs){
                            font-size: 1.3rem;
                        }
                        @include respond-to-h(xxs){
                            font-size: 1.3rem;
                        }
                        @include respond-to-v(md){
                            font-size: 1.3rem;
                        }
                        @include respond-to-v(s){
                            font-size: 1.3rem;
                        }
                        @include respond-to-v(sm){
                            font-size: 1.3rem;
                        }
                        @include respond-to-v(xs){
                            font-size: 1.2rem;
                        }
                    }

                    .details__content__list__item__main__button{
                        width: 1.5rem;
                        height: 1.5rem;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        cursor: pointer;

                        @include respond-to-h(sm){
                            width: 1.3rem;
                            height: 1.3rem;
                        }
                        @include respond-to-h(xs){
                            width: 1.3rem;
                            height: 1.3rem;
                        }
                        @include respond-to-h(xxs){
                            width: 1.3rem;
                            height: 1.3rem;
                        }
                        @include respond-to-v(md){
                            width: 1.3rem;
                            height: 1.3rem;
                        }
                        @include respond-to-v(s){
                            width: 1.3rem;
                            height: 1.3rem;
                        }
                        @include respond-to-v(sm){
                            width: 1.3rem;
                            height: 1.3rem;
                        }
                        @include respond-to-v(xs){
                            width: 1.3rem;
                            height: 1.3rem;
                        }
                    }
                }

                .details__content__list__item__inner{
                    width: 100%;
                    height: fit-content;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    border-top: 0.5px solid var(--WhiteBg);

                    .info{
                        width: 100%;
                        padding: 1dvh 0 2.5dvh 0;

                        p{
                            font-family: "Sansation-Light";
                            position: relative;
                            z-index: 1;
                            font-size: 1.1rem;
                            color: var(--Wtext);
                            font-weight: 300;
                            margin: 0;
                            text-align: left;
                            padding: 1dvh 0 2.5dvh 0;
                            @include respond-to-h(sm){
                                font-size: 0.9rem;
                            }
                            @include respond-to-h(xs){
                                font-size: 0.9rem;
                            }
                            @include respond-to-h(xxs){
                                font-size: 0.9rem;
                            }
                            @include respond-to-v(xs){
                                font-size: 0.9rem;
                            }
                        }
                    }

                    .details__desc{
                        width: 100%;
                        padding: 1dvh 0 2.5dvh 0;

                        ul{
                            list-style: none;
                            padding: 0;
                            margin: 0;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            width: 100%;

                            @include respond-to-v(s){
                                flex-wrap: wrap;
                                align-items: flex-start;
                                justify-content: flex-start;

                            }
                            @include respond-to-v(sm){
                                flex-wrap: wrap;
                                align-items: flex-start;
                                justify-content: flex-start;

                            }

                            @include respond-to-v(xs){
                                flex-wrap: wrap;
                                align-items: flex-start;
                                justify-content: flex-start;

                            }


                            li{
                                border-right: 0.5px solid var(--WhiteBg);
                                padding: 1dvh 2.5dvw;
                                width: 25%;

                                &:nth-of-type(1){
                                    border-left: 0.5px solid var(--WhiteBg);
                                }

                                h4{
                                    font-family: "Sansation-Bold";
                                    font-size: 1.1rem;
                                    color: var(--Wtext);
                                    font-weight: 400;
                                    margin: 0;
                                }

                                p{
                                    font-family: "Sansation-Light";
                                    font-size: 1rem;
                                    color: var(--Wtext);
                                    font-weight: 300;
                                    margin: 0;
                                }
                            }
                        }
                    }

                    .shipment{
                        width: 100%;
                        padding: 1dvh 0 2.5dvh 0;

                        .shipment__item{
                            width: 100%;
                            padding: 1dvh 0;
                            border-bottom: 0.5px solid var(--WhiteBg);

                            h4{
                                font-family: "Sansation-Bold";
                                font-size: 1.1rem;
                                color: var(--Wtext);
                                font-weight: 400;
                                margin: 0;
                            }

                            p{
                                font-family: "Sansation-Light";
                                font-size: 1rem;
                                color: var(--Wtext);
                                font-weight: 300;
                                margin: 0;
                            }
                        }
                    }
                    
                }
            }
        }
    }
}