@use "../../../../../styles/mixins.scss" as *;

.ECom__Entry{
    width: 100vw;
    height: 150vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--OliveBg);
    padding: 10vh 5vw;
    gap: 2.5vh;

    @include respond-to-h(mdt){
        height: 125vh;
    }
    @include respond-to-h(sm){
        height: 125vh;
    }
    @include respond-to-h(xs){
        height: 175vh;
    }
    @include respond-to-h(xxs){
        height: 160vh;
    }

    @include respond-to-v(lg){
        height: 75vh;
    }
    @include respond-to-v(md){
        height: 75vh;
    }
    @include respond-to-v(s){
        height: 60vh;
        padding: 5vw;
    }
    @include respond-to-v(sm){
        height: 60vh;
        padding: 5vw;
    }
    @include respond-to-v(xs){
        height: 70vh;
        padding: 5vw;
    }

    .ECom__Entry__title{
        width: 80%;
        height: 25%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 2vh;
        z-index: 1;

        @include respond-to-v(lg){
            height: 20%;
            gap: 0.5vh;
        }
        @include respond-to-v(md){
            height: 25%;
            gap: 0.5vh;
        }

        @include respond-to-v(s){
            height: 30%;
            gap: 0.5vh;
        }
        @include respond-to-v(sm){
            height: 30%;
            gap: 0.5vh;
        }
        @include respond-to-v(xs){
            height: 30%;
            gap: 0.5vh;
        }
        h2{
            font-family: "OoohBaby-Regular";
            color: var(--Wtext);
            font-size: 5rem;
            text-align: center;
            font-weight: 300;

            @include respond-to-h(lg){
                font-size: 4rem;
            }
            @include respond-to-h(md){
              font-size: 3.5rem;
            }
            @include respond-to-h(mdt){
              font-size: 4rem;
            }
            @include respond-to-h(sm){
              font-size: 3.5rem;
            }
            @include respond-to-h(xs){
              font-size: 3rem;
            }


            @include respond-to-v(lg){
                font-size: 4.5rem;
            }
            @include respond-to-v(md){
                font-size: 4rem;
            }
            @include respond-to-v(s){
                font-size: 3rem;
            }
            @include respond-to-v(sm){
                font-size: 3rem;
            }
            @include respond-to-v(xs){
                font-size: 2.5rem;
            }
        }
    }

    .ECom__Entry__content{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 1;

        .ECom__Entry__content__images{
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;

            .ECom__Entry__Gradient{
                width: 100vw;
                height: 100%;
                position: absolute;
                top: -40vh;
                left: 55vh;
                z-index: 0;
                overflow: hidden;


                svg{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    transform: scale(2);
                    opacity: 0.6;

                    g{
                        width: 50vw;
                        height: 50vh;
                    }
                }

                &:nth-child(2){
                    top: 40vh;
                    left: -30vw;
                }
            }
        }


        .ECom__Entry__content__images__upper{
            width: 100%;
            height: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5vw;
            overflow: hidden;

            .ECom__Entry__content__images__upper__item{
                width: 25vw;
                height: 50vh;
                position: relative;
                @include respond-to-h(mdt){
                    height: 40vh;
                }
                @include respond-to-h(sm){
                    height: 40vh;
                }
                @include respond-to-h(xs){
                    height: 60vh;
                }

                @include respond-to-v(lg){
                    height: 20vh;
                }
                @include respond-to-v(md){
                    height: 20vh;
                }
                @include respond-to-v(s){
                    display: none;
                }
                @include respond-to-v(sm){
                    display: none;
                }
                @include respond-to-v(xs){
                    display: none;
                }
                .ECom__Entry__content__images__upper__item__img__container{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // GPU acceleration optimizations
                    will-change: transform;
                    transform: translateZ(0); // Force GPU layer
                    backface-visibility: hidden;
                    perspective: 1000px;
                    
                    // Optimize rendering
                    contain: layout style paint;


                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // Image optimizations
                        image-rendering: -webkit-optimize-contrast;
                        image-rendering: crisp-edges;
                        
                        // Prevent layout shifts
                        content-visibility: auto;
                        contain-intrinsic-size: 500px 300px;
                    }        
                }
                &:nth-child(2){
                    z-index: 2;
                    width: 50vw;
                    height: 50vh;
                    @include respond-to-h(mdt){
                        height: 40vh;
                    }
                    @include respond-to-h(sm){
                        height: 40vh;
                    }
                    @include respond-to-h(xs){
                        height: 60vh;
                    }


                    @include respond-to-v(lg){
                        height: 20vh;
                    }
                    @include respond-to-v(md){
                        height: 20vh;
                    }
                    @include respond-to-v(s){
                        width: 100%;
                        height: 25vh;
                        display: flex;
                    }
                     @include respond-to-v(sm){
                        width: 100%;
                        height: 25vh;
                        display: flex;
                    }
                     @include respond-to-v(xs){
                        width: 100%;
                        height: 27.5vh;
                        display: flex;
                    }
                }
            }
        }

        .ECom__Entry__content__text{
            width: 15vw;
            height: 15vw;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 3;
            @include respond-to-h(sm){
                scale: 0.9;
            }
            @include respond-to-h(xs){
                scale: 0.8;
            }
            @include respond-to-h(xxs){
                scale: 0.7;
            }

            @include respond-to-v(md){
                scale: 0.8;
                left: 47.5%;
            }
            @include respond-to-v(s){
                scale: 0.7;
                left: 47.5%;
            }
            @include respond-to-v(sm){
                scale: 0.6;
                left: 47.5%;
            }
            @include respond-to-v(xs){
                scale: 0.6;
                left: 47.5%;
            }
            .rotating-text{
                .rotating-text__text{
                    .circle-text__letter{
                        font-family: "Sansation-Regular";
                    }
                }
            }
        }

        .ECom__Entry__content__images__lower{
            width: 100%;
            height: 50%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5vw;

            .ECom__Entry__content__images__upper__item{
                width: 50vw;
                height: 50vh;
                position: relative;
                overflow: hidden;
                @include respond-to-h(mdt){
                    height: 40vh;
                }
                @include respond-to-h(sm){
                    height: 40vh;
                }
                @include respond-to-h(xs){
                    height: 60vh;
                }

                @include respond-to-v(lg){
                    height: 20vh;
                }
                @include respond-to-v(md){
                    height: 20vh;
                }
                @include respond-to-v(s){
                    height: 15vh;
                }
                @include respond-to-v(sm){
                    height: 15vh;
                }
                @include respond-to-v(xs){
                    height: 17.5vh;
                }
                .ECom__Entry__content__images__upper__item__img__container{
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    // GPU acceleration optimizations
                    will-change: transform;
                    transform: translateZ(0); // Force GPU layer
                    backface-visibility: hidden;
                    perspective: 1000px;
                    
                    // Optimize rendering
                    contain: layout style paint;


                    img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        // Image optimizations
                        image-rendering: -webkit-optimize-contrast;
                        image-rendering: crisp-edges;
                        
                        // Prevent layout shifts
                        content-visibility: auto;
                        contain-intrinsic-size: 500px 300px;
                    }         
                }
            }
        }
    }
}