/* ShowAll component styles - SASS nesting */
.root {
  .noResultsContainer {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    height: fit-content;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .resultsContainer {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    height: fit-content;
    padding-top: 1rem;
    padding-bottom: 1rem;
    @media (min-width: 640px) {
      flex-direction: column;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
    @media (min-width: 480px) {
      flex-direction: row;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}
