@use "../../../../styles/mixins.scss" as *;

/* CheckoutForm component styles - SASS nesting */
.root {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 1rem 2.5vw 1rem 0;

  @include respond-to-h(sm){
    margin-top: 10dvh;
  }
  @include respond-to-v(lg){
    margin-top: 10dvh;
    padding: 0;
  }
  @include respond-to-v(md){
    margin-top: 10dvh;
    padding: 0;
  }
  @include respond-to-v(s){
    margin-top: 5dvh;
    padding: 1rem;
  }
  @include respond-to-v(sm){
    margin-top: 5dvh;
    padding: 1rem;
  }
  @include respond-to-v(xs){
    margin-top: 5dvh;
    padding: 0.5rem;
  }
}
