@use "../../../../styles/mixins.scss" as *;

.content{ 
    width: 100%;
    min-height: 70dvh;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    padding-bottom: 2.5dvh;

    .header {
		// mb-8 flex flex-col gap-y-4
		display: flex;
		flex-direction: column;
		row-gap: 1rem;
		margin-bottom: 2rem;

		.title {
			// text-2xl-semi
			font-size: 1.8rem;
            line-height: 1.2;
            font-weight: 400;
            font-family: "Sansation-Light";
			color: var(--ChText);

			@include respond-to-h(lg){
				font-size: 1.6rem;
			}
			@include respond-to-h(md){
				font-size: 1.6rem;
			}
			@include respond-to-h(mdt){
				font-size: 1.6rem;
			}
			@include respond-to-h(sm){
				font-size: 1.6rem;;
			}
			@include respond-to-h(xs){
				font-size: 1.3rem;
			}
			@include respond-to-h(xxs){
				font-size: 1.3rem;
			}

			@include respond-to-v(lg){
				font-size: 1.6rem;
			}
			@include respond-to-v(md){
				font-size: 1.6rem;
			}
			@include respond-to-v(s){
				font-size: 1.3rem;
			}
			@include respond-to-v(sm){
				font-size: 1.3rem;
			}
			@include respond-to-v(xs){
				font-size: 1.3rem;
			}
		}

		.desc {
			// text-base-regular
			font-size: 1.1rem;
            line-height: 1.25rem;
            color: var(--ChText);
            font-weight: 300;
            font-family: "Sansation-Light";

			// WIP: FINISH ADDRESSES RESPONSIVENESS THEN TEST WHISHLIST AND CREATE A UI FOR IT
			@include respond-to-h(lg){
				font-size: 1.05rem;
			}
			@include respond-to-h(md){
				font-size: 1.05rem;
			}
			@include respond-to-h(mdt){
				font-size: 1.05rem;
			}
			@include respond-to-h(sm){
				font-size: 1.05rem;
			}
			@include respond-to-h(xs){
				font-size: 1rem;
			}
			@include respond-to-h(xxs){
				font-size: 1rem;
			}

			@include respond-to-v(lg){
				font-size: 1.05rem;
			}
			@include respond-to-v(md){
				font-size: 1.05rem;
			}
			@include respond-to-v(s){
				font-size: 1rem;
			}
			@include respond-to-v(sm){
				font-size: 1rem;
			}
			@include respond-to-v(xs){
				font-size: 1rem;
			}
		}
	}

	.body {
		// flex flex-col gap-y-8 w-full
		display: flex;
		flex-direction: column;
		row-gap: 2rem;
		width: 100%;
	}

	.divider {
		// w-full h-px bg-gray-200
		width: 100%;
		height: 1px;
		background-color: var(--border, #e5e7eb);
	}
}