@use "../../../../styles/mixins.scss" as *;

.root {
  width: 100%;

  .gridTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem; /* gap-4 */

    @include respond-to-v(s) {
      grid-template-columns: 1fr;
      row-gap: 0.5rem; /* gap-y-4 */
    }

    @include respond-to-v(sm) {
      grid-template-columns: 1fr;
      row-gap: 0.5rem; /* gap-y-4 */
    }
    @include respond-to-v(xs) {
      grid-template-columns: 1fr;
      row-gap: 0.5rem; /* gap-y-4 */
    }
  }
}
