@use "../../../../styles/mixins.scss" as *;

/* ShippingAddress component styles - SASS nesting */
.root {
  .addressPrompt {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.25rem;
    p {
      font-size: 1rem;
      font-weight: 300;
      font-family: "Sansation-Light";

      @include respond-to-h(md){
        font-size: 0.9rem;
      }
      @include respond-to-h(sm){
        font-size: 0.9rem;
      }
      @include respond-to-h(xs){
        font-size: 0.9rem;
      }
      @include respond-to-h(xxs){
        font-size: 0.9rem;
      }

      @include respond-to-v(s){
        font-size: 0.9rem;
      }
      @include respond-to-v(sm){
        font-size: 0.9rem;
      }
      @include respond-to-v(xs){
        font-size: 0.9rem;
      }
    }
  }
  .formGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.25rem;

    .input{
      margin: 0.25rem 0.25rem;
    }
  }
  .checkboxRow {
    margin: 2rem 0;
  }
  .contactGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
  }
}
