.container {
  max-width: 56rem; // max-w-4xl
  height: 100%;
  width: 100%;
  background: var(--ui-bg-subtle, #f3f4f6);
}

.inner {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
  padding: 1rem;
}

.title {
  color: var(--ui-fg-base, #111827);
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.subtitle {
  color: var(--ui-fg-subtle, #6b7280);
  font-size: 0.875rem;
}

.cta {
  width: fit-content;
}
