@use "../../../../styles/mixins.scss" as *;

.root {
  .title {
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    line-height: 1.5rem;
    font-weight: 400;
    font-family: "Sansation-Regular";
    margin-block: 1.5rem;

    @include respond-to-h(md){
			font-size: 1.3rem;
		}
		@include respond-to-h(mdt){
			font-size: 1.3rem;
		}
		@include respond-to-h(sm){
			font-size: 1.3rem;
		}
		@include respond-to-h(xs){
			font-size: 1.2rem;
		}
		@include respond-to-h(xxs){
			font-size: 1.2rem;
		}

    @include respond-to-v(lg){
      font-size: 1.8rem;
    }
    @include respond-to-v(md){
      font-size: 1.8rem;
    }
    @include respond-to-v(s){
      font-size: 1.6rem;
    }
    @include respond-to-v(sm){
      font-size: 1.6rem;
    }
    @include respond-to-v(xs){
      font-size: 1.6rem;
    }

  }

  .row {
    display: flex;
    align-items: flex-start;
    column-gap: 0.25rem;
    width: 100%;
    @include respond-to-v(s){
      flex-wrap: wrap;
    }
    @include respond-to-v(sm){
      flex-wrap: wrap;
    }
    @include respond-to-v(xs){
      flex-wrap: wrap;
    }
  }

  .colLeft {
    display: flex;
    flex-direction: column;
    width: 35%;
    @include respond-to-v(s){
      width: 100%;
    }
    @include respond-to-v(sm){
      width: 100%;
    }
    @include respond-to-v(xs){
      width: 100%;
    }
  }

  .colRight {
    display: flex;
    flex-direction: column;
    width: 65%;

    @include respond-to-v(s){
      width: 100%;
      border-top: 0.5px solid var(--ButtonBorder);
      padding-top: 2rem;
    }
    @include respond-to-v(sm){
      width: 100%;
      border-top: 0.5px solid var(--ButtonBorder);
      padding-top: 2rem;
    }
    @include respond-to-v(xs){
      width: 100%;
      border-top: 0.5px solid var(--ButtonBorder);
      padding-top: 2rem;
    }
  }

  .label {
    font-weight: 400;
    font-size: 1.3rem;
    font-family: "Sansation-Regular";
    color: var(--ChText);
    margin-bottom: 0.25rem;

    @include respond-to-h(md){
			font-size: 1.2rem;
		}
		@include respond-to-h(mdt){
			font-size: 1.2rem;
		}
		@include respond-to-h(sm){
			font-size: 1.2rem;
		}
		@include respond-to-h(xs){
			font-size: 1.1rem;
		}
		@include respond-to-h(xxs){
			font-size: 1.1rem;
		}
    @include respond-to-v(s){
      font-size: 1.2rem;
    }
    @include respond-to-v(sm){
      font-size: 1.2rem;
    }
    @include respond-to-v(xs){
      font-size: 1.2rem;
    }
  }

  .value {
    color: var(--handle);
    font-size: 1.1rem;
    font-family: "Sansation-Light";
    font-weight: 300;

    @include respond-to-h(md){
			font-size: 1rem;
		}
		@include respond-to-h(mdt){
			font-size: 1rem;
		}
		@include respond-to-h(sm){
			font-size: 1rem;
		}
		@include respond-to-h(xs){
			font-size: 0.9rem;
		}
		@include respond-to-h(xxs){
			font-size: 0.9rem;
		}
    @include respond-to-v(s){
      font-size: 1rem;
    }
    @include respond-to-v(sm){
      font-size: 1rem;
    }
    @include respond-to-v(xs){
      font-size: 1rem;
    }
  }

  .detailsRow {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
  }

  .iconWrap {
    display: flex;
    align-items: center;
    height: 2rem;
    width: fit-content;
    padding: 0.5rem;
    background: var(--ui-button-neutral-hover, #f3f4f6);
  }

  .divider {
    margin-top: 2rem;
  }
}
