@use "../../../../../styles/mixins.scss" as *;

.navCat{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5dvh 2.5dvw 5dvh 2.5dvw;
    height: 100%;
    width: 100%;
    box-shadow: 0 2px 8px var(--ButtonBorder);
    border-radius: 25px;
    overflow: hidden;

    @include respond-to-h(lg){
        padding: 7.5dvh 3.5dvw 7.5dvh 3.5dvw;
    }
    @include respond-to-h(md){
        padding: 7.5dvh 3.5dvw 7.5dvh 3.5dvw;
    }
    @include respond-to-h(mdt){
        padding: 5dvh 3.5dvw 5dvh 3.5dvw;
    }
    @include respond-to-h(sm){
        padding: 7.5dvh 3.5dvw 7.5dvh 3.5dvw;
    }
    @include respond-to-h(xs){
        padding: 12.5dvh 5dvw 5dvh 5dvw;
    }
    @include respond-to-h(xxs){
        padding: 12.5dvh 5dvw 5dvh 5dvw;
    }
    @include respond-to-v(s){
        padding: 7.5dvh 2.5dvw 2.5dvh 2.5dvw;
    }
    @include respond-to-v(sm){
        padding: 7.5dvh 2.5dvw 2.5dvh 2.5dvw;
    }
    @include respond-to-v(xs){
        padding: 7.5dvh 2.5dvw 2.5dvh 2.5dvw;
    }
    .bodyCat{
        display: flex;
        gap: 10px;
        flex-direction: column;
        .linkContainerCat{
            width: fit-content;
            height: 4dvh;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @include respond-to-h(xs){
                height: 8dvh;
            }
            @include respond-to-h(xxs){
                height: 8dvh;
            }
            .category__nav__item{
                width: 100%;
                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 0.5dvw 0 2.5dvw;
                border: 1px solid var(--ButtonBorder);
                border-radius: 25px;
                background-color: var(--WhiteBg);
                cursor: pointer;
                gap: 2.5rem;
                p{
                    font-size: 1.3rem;
                    color: var(--ChText);

                    @include respond-to-h(md){
                        font-size: 1.2rem;
                    }
                    @include respond-to-h(mdt){
                        font-size: 1.2rem;
                    }
                    @include respond-to-h(sm){
                        font-size: 1.1rem;
                    }
                    @include respond-to-h(xs){
                        font-size: 1.1rem;
                    }
                    @include respond-to-h(xxs){
                        font-size: 1rem;
                    }
                    @include respond-to-v(md){
                        font-size: 1.2rem;
                    }
                    @include respond-to-v(s){
                        font-size: 1.2rem;
                    }
                    @include respond-to-v(sm){
                        font-size: 1.2rem;
                    }
                    @include respond-to-v(xs){
                        font-size: 1.1rem;
                    }
                }
                .category__icon{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    border: 1px solid var(--ButtonBorder);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    pointer-events: none;
                }
            }
        }
        a{
            text-decoration: none;
            color: var(--ChText);
            font-size: 46px;
        }
    }
}