/* Hits component styles - SASS nesting */
.root {
  transition-property: height, max-height, opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
  width: 100%;
  margin-bottom: 0.25rem;
  padding: 1px;
  @media (min-width: 640px) {
    overflow: hidden;
    width: 50dvw;
  }
  &.maxHeightFull {
    max-height: 100%;
    opacity: 1;
  }
  &.maxHeightZero {
    max-height: 0;
    opacity: 0;
  }

  .resultsGrid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: 1rem;
    @media (min-width: 640px) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .listItem {
    list-style: none;
    &.hiddenOnMobile {
      display: none;
      @media (min-width: 640px) {
        display: block;
      }
    }
  }
}
