@use "../../../styles/mixins.scss" as *;

.Navbar{
    width: 100dvw;
    height: 6dvh;
    position: fixed;
    top: -0.5dvh;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5dvh 4dvw 0 5dvw;
    z-index: 1000;
    background-color: var(--WhiteBg);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);

    @include respond-to-h(mdt){
        height: 7dvh;
    }
    @include respond-to-h(md){
        height: 8dvh;
    }
    @include respond-to-h(xs){
        height: 12dvh;
    }
    @include respond-to-h(xxs){
        height: 12dvh;
    }

    @include respond-to-v(lg){
        height: 6dvh;
    }
    @include respond-to-v(md){
        height: 6dvh;
    }
    @include respond-to-v(s){
        height: 6dvh;
    }
    @include respond-to-v(sm){
        height: 7dvh;
    }
     @include respond-to-v(xs){
        height: 8.5dvh;
    }

    .Navbar__Links{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        @include respond-to-h(xxs){
            width: 40%;
        }
        
        ul{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            list-style: none;
            gap: 1dvw;

            li{
                .ScrollLink{
                    .button{
                        width: 80px;
                        height: 30px;
                        @include respond-to-h(xxs){
                            width: 50px;
                        }
                        .slider{
                            .el{
                                cursor: pointer;
                                .perspectiveText{
                                    .Navbar__Links__Title{
                                        font-size: 1.2rem;
                                        font-family: "Sansation-Regular";
                                        text-transform: capitalize;
                                        @include respond-to-h(lg){
                                            font-size: 1.1rem;
                                        }
                                        @include respond-to-h(mdt){
                                            font-size: 1.1rem;
                                        }
                                        @include respond-to-h(md){
                                            font-size: 1rem;
                                        }
                                        @include respond-to-h(sm){
                                            font-size: 1rem;
                                        }
                                        @include respond-to-h(xs){
                                            font-size: 0.9rem;
                                        }
                                        @include respond-to-h(xxs){
                                            font-size: 0.9rem;
                                        }
                                        &:nth-of-type(2){
                                            color: var(--ChText);
                                            transform: rotateX(-90deg) translateY(15px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .LinkButton{
                    .button{
                        width: 100px;
                        height: 40px;
                        @include respond-to-h(lg){
                            width: 90px;
                            height: 35px;
                        }
                        @include respond-to-h(mdt){
                            width: 90px;
                            height: 35px;

                        }

                        @include respond-to-h(md){
                            width: 80px;
                            height: 30px;
                        }
                        @include respond-to-h(sm){
                            width: 80px;
                            height: 30px;
                        }
                        @include respond-to-h(xs){
                            width: 75px;
                            height: 30px;
                        }
                        @include respond-to-h(xxs){
                            width: 70px;
                            height: 25px;
                        }
                        .slider{
                            .el{
                                cursor: pointer;
                                .perspectiveText{
                                    p{
                                        font-size: 1.2rem;
                                        font-family: "Sansation-Regular";
                                        text-transform: capitalize;
                                        @include respond-to-h(lg){
                                            font-size: 1.1rem;
                                        }
                                        @include respond-to-h(mdt){
                                            font-size: 1.1rem;
                                        }
                                        @include respond-to-h(md){
                                            font-size: 1rem;
                                        }
                                        @include respond-to-h(sm){
                                            font-size: 1rem;
                                        }
                                        @include respond-to-h(xs){
                                            font-size: 0.9rem;
                                        }
                                        @include respond-to-h(xxs){
                                            font-size: 0.9rem;
                                        }
                                    }
                                }

                                &:nth-of-type(2){
                                    p{
                                        color: var(--ChText);    
                                        &:nth-of-type(2){
                                            color: var(--ChText);
                                            transform: rotateX(-90deg) translateY(15px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .Navbar__Logo{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10dvw;
        height: 10dvh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        @include respond-to-v(s){
            width: 20dvw;
            height: 20dvw;
        }
        @include respond-to-v(sm){
            width: 20dvw;
            height: 20dvw;
        }
        @include respond-to-v(xs){
            width: 20dvw;
            height: 20dvw;
        }
        @include respond-to-v(xxs){
            width: 15dvw;
            height: 15dvw;
        }


        @include respond-to-v(s){
            width: 20dvw;
            height: 20dvw;
        }
        @include respond-to-v(sm){
            width: 20dvw;
            height: 20dvw;
        }
        @include respond-to-v(xs){
            width: 20dvw;
            height: 20dvw;
        }

        a{
            width: 7.5dvw;
            height: 7.5dvh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            position: relative;
            transition: all 0.3s ease-in-out;
            @include respond-to-h(md){
                width: 8dvw;
                height: 8dvh;
            }
            @include respond-to-h(mdt){
                width: 9dvw;
                height: 9dvh;
            }
            @include respond-to-h(sm){
                width: 9dvw;
                height: 9dvh;
            }
            @include respond-to-h(xs){
                width: 20dvw;
                height: 20dvh;
            }
            @include respond-to-h(xxs){
                width: 15dvw;
                height: 15dvh;
            }

            @include respond-to-v(s){
                width: 20dvw;
                height: 20dvw;
            }
            @include respond-to-v(sm){
                width: 20dvw;
                height: 20dvw;
            }
            @include respond-to-v(xs){
                width: 20dvw;
                height: 20dvw;
            }
            

            img{
                width: 100%;
                height: 100%;
            }
            

            &:hover{
                transform: scale(1.05);
                filter: brightness(0.8);
            }
        }
    }

    .Navbar__Icons{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        @include respond-to-h(xxs){
            width: 40%;
        }
        
        ul{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            list-style: none;
            gap: 0.5dvw;
            @include respond-to-h(mdt){
                gap: 1dvw;
            }
            @include respond-to-h(sm){
                gap: 1dvw;
            }
            @include respond-to-h(xs){
                gap: 0;
            }
            @include respond-to-h(xxs){
                gap: 0;
            }

            .active{
                background-color: var(--CreamDetails);
                border-radius: 25px;
            }
            li{
                color: var(--ChText);
                cursor: pointer;

                a{
                    img{
                        width: 3dvw;
                        height: 3dvh;
                        transition: all 0.3s ease-in-out;

                        &:hover{
                            transform: scale(1.1);
                            filter: brightness(0.8);
                        }
                        @include respond-to-h(lg){
                            width: 3.5dvw;
                            height: 3.5dvh;
                        }
                        @include respond-to-h(md){
                            width: 3.5dvw;
                            height: 3.5dvh;
                        }
                        @include respond-to-h(sm){
                            width: 3.5dvw;
                            height: 3.5dvh;
                        }
                        @include respond-to-h(xs){
                            width: 6dvw;
                            height: 6dvh;
                        }
                        @include respond-to-h(xxs){
                            width: 6dvw;
                            height: 6dvh;
                        }
                    }

                    .cart__span{
                        color: var(--Otext)
                    }
                }

                .magnetic{
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 2.5px;
                    svg{
                        @include respond-to-h(md){
                            width: 30px;
                            height: 30px;
                        } 
                         @include respond-to-h(sm){
                            width: 30px;
                            height: 30px;
                        }
                         @include respond-to-h(xs){
                            width: 30px;
                            height: 30px;
                        }
                        @include respond-to-h(xxs){
                            width: 25px;
                            height: 25px;
                        }
                    }
                    .text__cart__count{
                        font-size: 1rem;
                        color: var(--Otext);

                        @include respond-to-h(sm){
                            font-size: 0.9rem;
                        }
                         @include respond-to-h(xs){
                            font-size: 0.9rem;
                        }
                         @include respond-to-h(xxs){
                            font-size: 0.8rem;
                        }
                    }
                }

                .LinkButton{
                    .button{
                        width: 250px;
                        height: 40px;
                        @include respond-to-h(lg){
                            width: 180px;
                            height: 45px;
                        }
                        @include respond-to-h(mdt){
                            width: 180px;
                            height: 45px;

                        }

                        @include respond-to-h(md){
                            width: 160px;
                            height: 40px;
                        }
                        @include respond-to-h(sm){
                            width: 160px;
                            height: 40px;
                        }
                        @include respond-to-h(xs){
                            width: 150px;
                            height: 40px;
                        }
                        @include respond-to-h(xxs){
                            width: 120px;
                            height: 40px;
                        }
                        .slider{
                            .el{
                                cursor: pointer;
                                .perspectiveText{
                                    p{
                                        color: var(--Wtext);
                                        font-size: 1.2rem;
                                        font-family: "Sansation-Regular";
                                        text-transform: capitalize;
                                        @include respond-to-h(lg){
                                            font-size: 1.1rem;
                                        }
                                        @include respond-to-h(mdt){
                                            font-size: 1.1rem;
                                        }
                                        @include respond-to-h(md){
                                            font-size: 1rem;
                                        }
                                        @include respond-to-h(sm){
                                            font-size: 1rem;
                                        }
                                        @include respond-to-h(xs){
                                            font-size: 0.9rem;
                                        }
                                        @include respond-to-h(xxs){
                                            font-size: 0.9rem;
                                        }
                                    }
                                }

                                &:nth-of-type(2){
                                    p{
                                        color: var(--ChText);    
                                        &:nth-of-type(2){
                                            color: var(--ChText);
                                            transform: rotateX(-90deg) translateY(15px);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .Navbar__Icons__Search{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                     img{
                        width: 3dvw;
                        height: 3dvh;
                        transition: all 0.3s ease-in-out;

                        &:hover{
                            transform: scale(1.1);
                            filter: brightness(0.8);
                        }
                        @include respond-to-h(lg){
                            width: 3.5dvw;
                            height: 3.5dvh;
                        }
                        @include respond-to-h(md){
                            width: 3.5dvw;
                            height: 3.5dvh;
                        }
                        @include respond-to-h(sm){
                            width: 3.5dvw;
                            height: 3.5dvh;
                        }
                        @include respond-to-h(xs){
                            width: 6dvw;
                            height: 6dvh;
                        }
                        @include respond-to-h(xxs){
                            width: 6dvw;
                            height: 6dvh;
                        }
                    }
                }
                &:nth-of-type(4){
                    a{
                        img{
                            width: 3.5dvw;
                            height: 3.5dvh;
                            @include respond-to-h(lg){
                                width: 4dvw;
                                height: 4dvh;
                            }
                            @include respond-to-h(md){
                                width: 4dvw;
                                height: 4dvh;
                            }
                            @include respond-to-h(sm){
                                width: 4dvw;
                                height: 4dvh;
                            }
                            @include respond-to-h(xs){
                                width: 6.5dvw;
                                height: 6.5dvh;
                            }
                            @include respond-to-h(xxs){
                                width: 6.5dvw;
                                height: 6.5dvh;
                            }
                        }
                    }
                }
            }
        }
    }

    .Navbar__Mobile{
        width: 30%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;

        .Navbar__Mobile__Menu{
            width: 400px;
            height: 600px;
            background-color:var(--OliveBg);
            border-radius: 25px;
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
        }
    }

    .StoreLink__Container{
        position: absolute;
        left: 1.5dvw;
        top: 1.5dvh;
        
        .LinkButton{
            width: auto;
            height: auto;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            box-shadow: 0 2px 8px var(--ButtonBorder); // subtle shadow here
            border-radius: 25px;
            .button{
                position: relative;
                width: 100px;
                height: 40px;
                cursor: pointer;
                border-radius: 25px;
                overflow: hidden;
                box-shadow: 0 2px 8px var(--ButtonBorder); // subtle shadow here


                @include respond-to-v(s){
                    width: 90px;
                    height: 35px;
                }
                @include respond-to-v(sm){
                    width: 90px;
                    height: 35px;
                }
                @include respond-to-v(xs){
                    width: 90px;
                    height: 35px;
                }


                .slider{
                    position: relative;
                    width: 100%;
                    height: 100%;

                    .el{
                        width: 100%;
                        height: 100%;
                        p{
                            margin: 0px;
                            color: var(--Wtext);
                        }
                        &:nth-of-type(2){
                            p{
                                color: var(--ChText);
                            }
                        }
                        &:hover{
                            .perspectiveText{
                                transform: rotateX(90deg);
                                p{
                                    &:nth-of-type(1){
                                        transform: translateY(-100%);
                                        opacity: 0;
                                    }
                                    &:nth-of-type(2){
                                        opacity: 1;
                                    }
                                }
                            }
                        }
                    }
                }
                
            }
        }
    }
}

.Navbar__News{
    position: fixed;
    top: 6dvh;
    left: 50%;
    transform: translateX(-50%);
    width: 40%;
    height: 4dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 900;
    mix-blend-mode: difference;

    @include respond-to-h(md){
        top: 7.5dvh;
    }
    @include respond-to-h(sm){
        top: 7.5dvh;
    }
    @include respond-to-h(xs){
        top: 12.5dvh;
    }
    @include respond-to-h(xxs){
        top: 12.5dvh;
    }

    @include respond-to-v(md){
        width: 50%;
        height: 5dvh;
    }
    @include respond-to-v(s){
        width: 80%;
        height: 5dvh;
    }
    @include respond-to-v(sm){
        width: 80%;
        height: 5dvh;
    }
    @include respond-to-v(xs){
        width: 80%;
        height: 5dvh;
        top: 7.5dvh;
    }


    .Navbar__News__RotatingBar{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        overflow: hidden;

        .NavbarNews__rotating__bar{
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            .NavbarNews__rotating__bar__inner{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 2.5dvw;
                p{
                    font-size: 1.5rem;
                    color: var(--Wtext);
                    font-weight: 300;
                    text-transform: uppercase;
                    mix-blend-mode: difference;
                    white-space: nowrap;
                    @include respond-to-h(xs){
                        font-size: 1.3rem;
                    }
                    @include respond-to-h(xxs){
                        font-size: 1.3rem;
                    }
                    @include respond-to-v(s){
                        font-size: 1.3rem;
                    }
                    @include respond-to-v(sm){
                        font-size: 1.3rem;
                    }
                    @include respond-to-v(xs){
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}
.Navbar__subFooter{
    width: 100%;
    height: 8dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--WhiteBg);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    border-radius: 25px 25px 0 0;

    @include respond-to-v(lg){
        height: 5dvh;
    }
    @include respond-to-v(md){
        height: 5dvh;
    }

    @include respond-to-h(huge){
        width: 4vw;
        height: 40dvh;
        bottom: 52.5%;
        left: 96vw;
        right: 0;
        border-radius: 25px 0 0 25px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
    @include respond-to-h(xl){
        width: 4vw;
        height: 40dvh;
        bottom: 52.5%;
        left: 96vw;
        right: 0;
        border-radius: 25px 0 0 25px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
    @include respond-to-h(lg){
        width: 4vw;
        height: 40dvh;
        bottom: 52.5%;
        left: 96vw;
        right: 0;
        border-radius: 25px 0 0 25px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
    @include respond-to-h(mdt){
        width: 4vw;
        height: 40dvh;
        bottom: 52.5%;
        left: 96vw;
        right: 0;
        border-radius: 25px 0 0 25px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
    @include respond-to-h(md){
        width: 4vw;
        height: 40dvh;
        bottom: 52.5%;
        left: 96vw;
        right: 0;
        border-radius: 25px 0 0 25px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
    @include respond-to-h(sm){
        width: 4vw;
        height: 50dvh;
        bottom: 50%;
        left: 96vw;
        right: 0;
        border-radius: 25px 0 0 25px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
    @include respond-to-h(xs){
        width: 4vw;
        height: 60dvh;
        bottom: 40%;
        left: 96vw;
        right: 0;
        border-radius: 25px 0 0 25px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }
    @include respond-to-h(xxs){
        width: 4vw;
        height: 60dvh;
        bottom: 40%;
        left: 96vw;
        right: 0;
        border-radius: 25px 0 0 25px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    }

    .Navbar__Icons{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include respond-to-v(md){
            justify-content: center;
        }
        @include respond-to-v(lg){
            justify-content: center;
        }
        
        ul{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            list-style: none;
            gap: 0.5dvw;

            @include respond-to-v(md){
                width: 50%;
            }
            @include respond-to-v(lg){
                width: 40%;
            }

            @include respond-to-h(huge){
                flex-direction: column;
                gap: 2dvh;
            }
            @include respond-to-h(xl){
                flex-direction: column;
                gap: 2dvh;
            }
            @include respond-to-h(lg){
                flex-direction: column;
                gap: 2dvh;
            }
            @include respond-to-h(mdt){
                flex-direction: column;
                gap: 2dvh;
            }
            @include respond-to-h(md){
                flex-direction: column;
                gap: 2dvh;
            }
            @include respond-to-h(sm){
                flex-direction: column;
                gap: 2dvh;
            }
            @include respond-to-h(xs){
                flex-direction: column;
                gap: 1.5dvh;
            }
            @include respond-to-h(xxs){
                flex-direction: column;
                gap: 1.5dvh;
            }

            .active{
                background-color: var(--CreamDetails);
                border-radius: 15px;
                padding: 0.25rem 0.25rem;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);

            }
            li{
                color: var(--ChText);
                cursor: pointer;
                padding: 0.25rem 0.25rem;


                a{
                    img{
                        width: 3dvw;
                        height: 3dvh;
                        
                        @include respond-to-v(lg){
                            width: 4dvw;
                            height: 4dvh;
                        }
                        @include respond-to-v(md){
                            width: 4dvw;
                            height: 4dvh;
                        }
                        @include respond-to-v(s){
                            width: 10dvw;
                            height: 5dvh;
                        }

                         @include respond-to-v(sm){
                            width: 10dvw;
                            height: 5dvh;
                        }
                         @include respond-to-v(xs){
                            width: 10dvw;
                            height: 5dvh;
                        }
    
                    }

                }

                .magnetic{
                    display: flex;
                    align-items: flex-start;
                    justify-content: center;
                    gap: 2.5px;
                    svg{
                        @include respond-to-v(lg){
                            width: 4dvw;
                            height: 4dvh;
                        }
                         @include respond-to-v(md){
                            width: 4dvw;
                            height: 4dvh;
                        }
                         @include respond-to-v(s){
                            width: 10dvw;
                            height: 5dvh;
                        }
                         @include respond-to-v(sm){
                            width: 10dvw;
                            height: 5dvh;
                        }
                         @include respond-to-v(xs){
                            width: 10dvw;
                            height: 5dvh;
                        }
                
                    }
                    .cartCount{
                        font-size: 1.1rem;
                        color: var(--Otext);

                        @include respond-to-v(lg){
                            font-size: 1.3rem;
                        }
                         @include respond-to-h(xs){
                            font-size: 0.9rem;
                        }
                         @include respond-to-h(xxs){
                            font-size: 0.8rem;
                        }
                    }
                }

                .Navbar__Icons__Search{
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                     img{
                        width: 3dvw;
                        height: 3dvh;

                        @include respond-to-v(lg){
                            width: 4dvw;
                            height: 4dvh;
                        }
                        @include respond-to-v(md){
                            width: 4dvw;
                            height: 4dvh;
                        }
                        @include respond-to-v(s){
                            width: 10dvw;
                            height: 5dvh;
                        }
                      
                         @include respond-to-v(sm){
                            width: 10dvw;
                            height: 5dvh;
                        }
                         @include respond-to-v(xs){
                            width: 10dvw;
                            height: 5dvh;
                        }
                    }
                }
                &:nth-of-type(4){
                    a{
                        img{
                            width: 3.5dvw;
                            height: 3.5dvh;
                            @include respond-to-v(lg){
                                width: 4dvw;
                                height: 4dvh;
                            }
                            @include respond-to-v(md){
                                width: 4dvw;
                                height: 4dvh;
                            }
                            @include respond-to-v(s){
                                width: 10dvw;
                                height: 5dvh;
                            }
                            @include respond-to-v(sm){
                                width: 10dvw;
                                height: 5dvh;
                            }
                            @include respond-to-v(xs){
                                width: 10dvw;
                                height: 5dvh;
                            }
                        }
                    }
                }
            }
        }
    }
}