@use "../../../../styles/mixins.scss" as *;

.ECom__Intro{
    width: 100dvw;
    height: 100dvh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--OliveBg);
    padding: 10dvh 5dvw;
    gap: 10%;

    @include respond-to-h(xs){
       height: 140dvh;
       padding: 20dvh 5dvw;
    }
    @include respond-to-h(xxs){
       height: 140dvh;
       padding: 20dvh 5dvw;
    }

    @include respond-to-v(lg){
       height: 80dvh;
       padding: 10dvh 5dvw;
    }
    @include respond-to-v(md){
       height: 80dvh;
       padding: 10dvh 5dvw;
    }

    @include respond-to-v(s){
       height: 90dvh;
       padding: 10dvh 5dvw;
    }
    @include respond-to-v(sm){
       height: 90dvh;
       padding: 10dvh 5dvw;
    }
    @include respond-to-v(xs){
       height: 100dvh;
       padding: 10dvh 5dvw;
    }

    .ECom__Intro__Details{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        overflow: hidden;

        .ECom__Intro__Gradient{
            width: 100%;
            height: 100%;
            position: absolute;
            top: -10dvh;
            left: 5dvw;
            z-index: 0;

            svg{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(2);
                opacity: 1;

                g{
                    width: 50dvw;
                    height: 50dvh;
                }
            }
        }
    }
    .ECom__Intro__Title{
        width: 100%;
        height: 55%;
        position: relative;
        display: flex;
        flex-direction: column;
        z-index: 1;

         @include respond-to-v(lg){
            height: 100%;
        }
        @include respond-to-v(md){
            height: 100%;
        }
         @include respond-to-v(s){
            height: 40%;
        }
          @include respond-to-v(sm){
            height: 40%;
        }
          @include respond-to-v(xs){
            height: 40%;
        }


        h2{
            font-family: "Sansation-Light";
            color: var(--Wtext);
            font-size: 10rem;
            text-align: left;
            line-height: 1.1;

            .precise__char{
                color: inherit;
                font-size: inherit;
                display: inline-block;
                white-space: nowrap;
            }

            @include respond-to-h(lg){
                font-size: 8rem;
            }

            @include respond-to-h(md){
              font-size: 6rem;
            }
            @include respond-to-h(mdt){
                font-size: 8rem;
            }
            @include respond-to-h(sm){
              font-size: 6rem;
            }
            @include respond-to-h(xs){
              font-size: 4rem;
            }
            @include respond-to-h(xxs){
              font-size: 4rem;
            }

            @include respond-to-v(lg){
              font-size: 7rem;
            }
            @include respond-to-v(md){
              font-size: 5rem;
            }
            @include respond-to-v(s){
              font-size: 4rem;
            }
             @include respond-to-v(sm){
              font-size: 3.5rem;
            }
             @include respond-to-v(xs){
              font-size: 3rem;
            }
        }

        .Hero__Intro__Container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 5dvw;
            h2{
                font-family: "Sansation-Light";
                color: var(--Wtext);
                font-size: 10rem;
                text-align: left;   

                @include respond-to-h(lg){
                    font-size: 8rem;
                }

                @include respond-to-h(md){
                    font-size: 6rem;
                }
                @include respond-to-h(mdt){
                    font-size: 8rem;
                }
                @include respond-to-h(sm){
                    font-size: 6rem;
                }
                @include respond-to-h(xs){
                    font-size: 4rem;
                }
                @include respond-to-h(xxs){
                    font-size: 4rem;
                }

                @include respond-to-v(lg){
                    font-size: 7rem;
                }
                @include respond-to-v(md){
                    font-size: 5rem;
                }
                @include respond-to-v(s){
                    font-size: 4rem;
                }
                @include respond-to-v(sm){
                    font-size: 3.5rem;
                }
                @include respond-to-v(xs){
                    font-size: 3rem;
                }
            }
            .Hero__Intro__Img__Container{
                position: relative;
                width: 15dvw;
                height: 15dvh;
                border: 1px solid var(--ChText);

                .Hero__Intro__Img__Container__inner{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                @include respond-to-h(mdt){
                    width: 20dvw;
                    height: 15dvh;
                }
                @include respond-to-h(sm){
                    width: 20dvw;
                    height: 15dvh;
                }
                @include respond-to-h(xs){
                    width: 15dvw;
                    height: 17.5dvh;
                }
                @include respond-to-h(xxs){
                    width: 15dvw;
                    height: 17.5dvh;
                }


                @include respond-to-v(lg){
                    width: 25dvw;
                    height: 10dvh;
                }
                @include respond-to-v(md){
                    width: 25dvw;
                    height: 10dvh;
                }
                @include respond-to-v(s){
                    display: none;
                }
                @include respond-to-v(sm){
                    display: none;
                }
                @include respond-to-v(xs){
                    display: none;
                }
                
            }
        }

    }   

    .ECom__Intro__Content{
        width: 100%;
        height: 40%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        z-index: 1;

        @include respond-to-v(lg){
            height: 100%;
        }
        @include respond-to-v(md){
            height: 100%;
        }
        @include respond-to-v(s){
            height: 100%;
            align-items: flex-start;
        }
        @include respond-to-v(sm){
            height: 100%;
            align-items: flex-start;
        }
        @include respond-to-v(xs){
            height: 100%;
            align-items: flex-start;
        }

        p{
            font-family: "Sentient-Light";
            position: relative;
            width: 35%;
            display: flex;
            flex-wrap: wrap;
            line-height: 1.4;
            @include respond-to-h(sm){
                width: 45%;
            }

            &:nth-of-type(2){
                text-align: right;
                width: 25%;
                margin-top: 10dvh;
                justify-content: flex-end;

                span{
                    text-align: right;
                }

                @include respond-to-h(sm){
                    width: 35%;
                }
            }

            span{
                width: 100%;
                color: var(--Wtext);
                font-size: 1.8rem;
                opacity: 0.8;
                line-height: 1.2;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: left;

                span {
                    width: auto;
                    color: var(--Wtext);
                    font-size: 1.8rem;
                    opacity: 0.8;
                    line-height: 1.2;
                    text-align: left;
                    display: inline-block;
                    
                    @include respond-to-h(lg){
                        font-size: 1.5rem;
                    }

                    @include respond-to-h(md){
                        font-size: 1.3rem;
                    }
                    @include respond-to-h(mdt){
                        font-size: 1.5rem;
                    }
                    @include respond-to-h(sm){
                        font-size: 1.3rem;
                    }
                    @include respond-to-h(xs){
                        font-size: 1.2rem;
                    }
                    @include respond-to-h(xxs){
                        font-size: 1.2rem;
                    }

                    @include respond-to-v(lg){
                        font-size: 1.5rem;
                    }

                    @include respond-to-v(md){
                        font-size: 1.3rem;
                    }


                    @include respond-to-v(s){
                        font-size: 1.3rem;
                    }
                    @include respond-to-v(sm){
                        font-size: 1.2rem;
                    }
                    @include respond-to-v(xs){
                        font-size: 1.1rem;
                    }
                }
                
                @include respond-to-h(lg){
                    font-size: 1.5rem;
                }

                @include respond-to-h(md){
                    font-size: 1.3rem;
                }
                @include respond-to-h(mdt){
                    font-size: 1.5rem;
                }
                @include respond-to-h(sm){
                    font-size: 1.3rem;
                }
                @include respond-to-h(xs){
                    font-size: 1.2rem;
                }
                @include respond-to-h(xxs){
                    font-size: 1.2rem;
                }

                @include respond-to-v(lg){
                    font-size: 1.5rem;
                }

                @include respond-to-v(md){
                    font-size: 1.3rem;
                }


                @include respond-to-v(s){
                    font-size: 1.3rem;
                }
                @include respond-to-v(sm){
                    font-size: 1.2rem;
                }
                @include respond-to-v(xs){
                    font-size: 1.1rem;
                }
            }

            @include respond-to-v(md){
                width: 45%;
                
                &:nth-of-type(2){
                    width: 40%;
                }
            }


            @include respond-to-v(s){
                width: 100%;
                &:nth-of-type(2){
                    width: 100%;
                    margin-top: 25dvh;
                }
            }
            @include respond-to-v(sm){
                width: 100%;
                &:nth-of-type(2){
                    width: 100%;
                    margin-top: 25dvh;
                }
            }
            @include respond-to-v(xs){
                width: 100%;
                &:nth-of-type(2){
                    width: 100%;
                    margin-top: 25dvh;
                }
            }
        }

    }
}