// Common styles 
//=============================================================
@use '../modules/common/components/RotatingText/style.scss' as wRotatingText;
@use '../modules/common/components/Buttons/hashtagButton/style.scss' as HashTagButton;
@use '../modules/common/components/Buttons/optionButton/style.scss' as OptionButton;
@use '../modules/common/components/Buttons/LinkButton/style.scss' as LinkButton;
@use '../modules/common/components/Buttons/interactiveLink-button/style.scss' as InteractiveLinkButton;
@use '../modules/common/components/Buttons/ClickButton/style.scss' as ClickButton;
@use '../modules/common/components/Buttons/ScrollLink/styles.scss' as ScrollLink;

// Anim Styles
//=============================================================
@use '../modules/common/components/MouseAnim/style.scss' as MouseAnim;

// Global styles 
//=============================================================
@use '../modules/layout/Footer/style.scss' as wFooter;
@use '../modules/layout/Navbar/style.scss' as wNav;

// Web styles 
//=============================================================
@use '../../src/modules/home/Hero/AboutHero/style.scss' as wHeroAbout;
@use '../../src/modules/home/Hero/IntroHero/style.scss' as wHeroIntro;

@use '../../src/modules/home/E-com/Intro/style.scss' as wEComIntro;
@use '../../src/modules/home/E-com/Entry/style.scss' as wEComEntry;
@use '../../src/modules/home/E-com/Desc/style.scss' as wEComDesc;
@use '../../src/modules/home/E-com/CTA/style.scss' as wEComCTA;

@use '../../src/modules/home/Kurzy/style.scss' as wKurzy;

@use '../../src/modules/home/Info/Mapa/styles.scss' as wInfoMapa;
@use '../../src/modules/home/Info/Kontakt/styles.scss' as wInfoContact;

// E-Commerce styles
//=============================================================

// E-Shop styles 
//=============================================================
@use '../modules/store/Shop/style.scss' as eShop;

// E-Shop Product styles
//=============================================================
@use '../modules/products/ProductPage/details/style.scss' as eProductDetails;
@use '../modules/products/ProductPage/product/style.scss' as eProductProduct;
@use '../modules/products/ProductPage/Sold/style.scss' as eProductSold;

