:root {
  --OButton: #87986A;
  --Wbutton: #ffffff;
  --ChText: #212222;
  --Wtext: #ffffff;
  --Otext: #87986A;
  --OliveBg: #87986A;
  --CharcoalBg: #212222;
  --WhiteBg: #ffffff;
  --CreamDetails: #FFE8D6;
  --ButtonBorder: rgb(33, 34, 34, 0.8);
  --Placeholder: rgb(33, 34, 34, 0.6);

  // store colors
  --handle: rgb(33, 34, 34, 0.8);
}