@use "../../../../../../../styles/mixins.scss" as *;

.desc__Container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
    p{
        font-family: "Sansation-Light";
        position: relative;
        z-index: 1;
        font-size: 1.3rem;
        color: var(--ChText);
        font-weight: 300;

        @include respond-to-h(md){
            font-size: 1.1rem;
        } 
        @include respond-to-h(sm){
            font-size: 1.1rem;
        } 
        @include respond-to-h(xs){
            font-size: 1rem;
        } 
        @include respond-to-h(xxs){
            font-size: 0.9rem;
        }
            @include respond-to-v(md){
            font-size: 1.1rem;
        }  
        @include respond-to-v(s){
            font-size: 1.1rem;
        } 
            @include respond-to-v(sm){
            font-size: 1.1rem;
        }  
            @include respond-to-v(xs){
            font-size: 1rem;
        }   
    }

}