@use "../../../../styles/mixins.scss" as *;

.soldProducts{
    width: 100vw;
    height: 50vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--OliveBg);
    gap: 5vh;
    padding: 10vh 0;

    @include respond-to-h(mdt){
        height: 55vh;
    }
    @include respond-to-h(xs){
        height: 75vh;
    }

    @include respond-to-h(xxs){
        height: 75vh;
    }
    @include respond-to-v(lg){
        height: 25vh;
        padding: 0;
        padding-bottom: 5vh;
    }
    @include respond-to-v(md){
        height: 25vh;
        padding: 0;
        padding-bottom: 5vh;
    }
    @include respond-to-v(s){
        height: 35vh;
        padding: 0;
        padding-bottom: 10vh;
        overflow: hidden;
    }
    @include respond-to-v(sm){
        height: 35vh;
        padding: 0;
        padding-bottom: 10vh;
        overflow: hidden;
    }
    @include respond-to-v(xs){
        height: 35vh;
        padding: 0;
        padding-bottom: 10vh;
        overflow: hidden;
    }

    .soldProducts__title{
        width: 100%;
        height: 5vw;
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        flex-direction: column;
        padding: 0 5vw;
        @include respond-to-h(xxs){
            height: 10vh;
        }
        @include respond-to-v(md){
            height: 7.5vh;
        }
        @include respond-to-v(s){
            height: 7.5vh;
        }
         @include respond-to-v(sm){
            height: 7.5vh;
        }
         @include respond-to-v(xs){
            height: 7.5vh;
        }

        .soldProducts__title__text{
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 1vw;
            padding: 0 2vw;

            @include respond-to-h(md){
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            @include respond-to-h(sm){
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            @include respond-to-h(xs){
                img{
                    width: 35px;
                    height: 35px;
                }
            }
            @include respond-to-h(xxs){
                img{
                    width: 35px;
                    height: 35px;
                }
            }
            @include respond-to-v(md){
                img{
                    width: 40px;
                    height: 40px;
                }
            }
            @include respond-to-v(s){
                img{
                    width: 40px;
                    height: 40px;
                }
            }
             @include respond-to-v(sm){
                img{
                    width: 40px;
                    height: 40px;
                }
            }
             @include respond-to-v(xs){
                img{
                    width: 40px;
                    height: 40px;
                }
            }

            h2{
                font-family: "Sansation-Light";
                position: relative;
                z-index: 1;
                font-size: 2.5rem;
                color: var(--Wtext);
                font-weight: 300;

                @include respond-to-h(md){
                    font-size: 2rem;
                }
                @include respond-to-h(sm){
                    font-size: 2rem;
                }
                @include respond-to-h(xs){
                    font-size: 1.8rem;
                }
                @include respond-to-h(xxs){
                    font-size: 1.8rem;
                }
                @include respond-to-v(md){
                    font-size: 2rem;
                }
                @include respond-to-v(s){
                    font-size: 1.8rem;
                }
                @include respond-to-v(sm){
                    font-size: 1.6rem;
                }
                @include respond-to-v(xs){
                    font-size: 1.5rem;
                }
            }
        }

        .divider{
            width: 50%;
            height: 1px;
            background-color: var(--WhiteBg);

            @include respond-to-h(md){
                width: 40%;
            }
            @include respond-to-h(sm){
                width: 50%;
            }
            @include respond-to-h(xxs){
                width: 65%;
            }
            @include respond-to-v(md){
                width: 62.5%;
            }
            @include respond-to-v(s){
                width: 95%;
            }
            @include respond-to-v(sm){
                width: 95%;
            }
            @include respond-to-v(xs){
                width: 95%;
            }
        }

    }

    .soldProducts__image__bar{
        width: 100%;
        height: 80%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .soldProducts__rotating__bar{
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;

            .soldProducts__rotating__bar__inner{

                height: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: row;
                gap: 1vw;

                .soldProducts__image__bar{
                    width: 100%;
                    height: 100%;
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    justify-content: center;
                    flex-direction: row;
                    gap: 1vw;

                    .soldProducts__image__bar__item {
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 20vw;
                        // Default to horizontal
                        height: 20vh;
                        // Optional: style the image inside
                        border-radius: 10px;
                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }

                        @include respond-to-h(md){
                            height: 25vh;
                        }
                        @include respond-to-h(mdt){
                            height: 17.5vh;
                        }
                        @include respond-to-h(sm){
                            height: 20vh;
                        }
                        @include respond-to-h(xs){
                            height: 30vh;
                        }
                        @include respond-to-h(xxs){
                            height: 25vh;
                        }
                        @include respond-to-v(lg){
                            width: 30vw;
                            height: 15vh;
                        }
                        @include respond-to-v(md){
                            width: 30vw;
                            height: 15vh;
                        }
                        @include respond-to-v(s){
                            width: 50vw;
                            height: 15vh;
                        }
                         @include respond-to-v(sm){
                            width: 50vw;
                            height: 15vh;
                        }
                         @include respond-to-v(xs){
                            width: 50vw;
                            height: 15vh;
                        }
                    }
                }
            }
        }
    }
}