@use "../../../../styles/mixins.scss" as *;

.root {
  width: 100%;

  .currentInfo {
    display: flex;
    flex-direction: column;
    font-weight: 600;
  }

  .formGrid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem; /* gap-y-2 */
  }

  .rowTwo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.5rem; /* gap-x-2 */


    @include respond-to-v(s) {
      grid-template-columns: 1fr;
      row-gap: 1rem; /* gap-y-4 */
    }
    @include respond-to-v(sm) {
      grid-template-columns: 1fr;
      row-gap: 1rem; /* gap-y-4 */
    }
    @include respond-to-v(xs) {
      grid-template-columns: 1fr;
      row-gap: 1rem; /* gap-y-4 */
    }
  }

  .rowPostal {
    display: grid;
    grid-template-columns: 144px 1fr;
    column-gap: 0.5rem;

    @include respond-to-v(s) {
      grid-template-columns: 1fr;
      row-gap: 1rem; /* gap-y-4 */
    }
    @include respond-to-v(sm) {
      grid-template-columns: 1fr;
      row-gap: 1rem; /* gap-y-4 */
    }
    @include respond-to-v(xs) {
      grid-template-columns: 1fr;
      row-gap: 1rem; /* gap-y-4 */
    }
  }
}
