@use '../../../../styles/mixins.scss' as *;

/* LineItemUnitPrice component styles - SASS nesting */
.root {
  display: flex;
  flex-direction: column;
  color: var(--ChText);
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-bottom: 0.25rem;

  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 300; /* medium-plus analog */
  color: var(--ChText);
  font-family: "Sansation-Light";

  @include respond-to-h(lg){
    font-size: 1rem;
  }
  @include respond-to-h(md){
    font-size: 0.95rem;
  }
  @include respond-to-h(mdt){
    font-size: 0.95rem;
  }
  @include respond-to-h(sm){
    font-size: 0.95rem;
  }
  @include respond-to-h(xs){
    font-size: 0.85rem;
  }
  @include respond-to-h(xxs){
    font-size: 0.85rem;
  }

  @include respond-to-v(lg){
    font-size: 0.95rem;
  }
  @include respond-to-v(md){
    font-size: 0.95rem;
  }
  @include respond-to-v(s){
    font-size: 0.85rem;
  }
  @include respond-to-v(sm){
    font-size: 0.85rem;
  }
  @include respond-to-v(xs){
    font-size: 0.85rem;
  }

  .originalLabel {
    color: var(--ChText);
  }

  .originalPrice {
    text-decoration: line-through;
    color: var(--handle)
  }

  .discount {
    color: var(--disabled);
  }

  .price {
    font-size: 1.1rem;  
    font-weight: 400;
    font-family: "Sansation-Light";
    color: var(--ChText);
    &.discounted {
      color: var(--ChText);
    }


    @include respond-to-h(md){
			font-size: 1rem;
		}
    @include respond-to-h(sm){
			font-size: 1rem;
		}
    @include respond-to-h(xs){
			font-size: 0.9rem;
    }
    @include respond-to-h(xxs){
			font-size: 0.9rem;
		}


    @include respond-to-v(lg){
			font-size: 1rem;
		}
    @include respond-to-v(md){
			font-size: 1rem;
		}
    @include respond-to-v(s){
			font-size: 0.9rem;
		}
    @include respond-to-v(sm){
			font-size: 0.9rem;
		}
    @include respond-to-v(xs){
			font-size: 0.9rem;
		}
  }
}
